[2015-09-28 20:36] parente opened #2 "Setup Travis CI"
We are currently running a Jenkins setup internally in IBM. We will for the time being point it to this new repo.

Some useful links about testing with docker and travis-ci
http://docs.travis-ci.com/user/docker/

[2015-09-29 03:19] parente opened #4 "Download app bundle fails 500 error when bower fails"
If any dep can't be downloaded, even temporarily, the whole bundle packaging fails with a 500 error server side. We should do something nicer.

[2015-09-29 03:24] parente opened #5 "Save before converting"
When converting a notebook to a dashboard, it should either automatically save or prompt for save before executing the conversion.

[2015-09-29 03:24] parente opened #6 ""Run All" from dashboard view scrolls page to bottom"
It should not scroll to the bottom.

[2015-09-29 03:25] parente opened #7 "Resizing into single-column mode causes Gridstack to disable cells"
Single-column mode is enabled at 768px by default.

(See Gridstack.on_resize_handler function)

[2015-09-29 03:26] parente opened #8 "Show cell's row/col index in Notebook's dashboard view"
Sections of a dashboard can be fetched with row and cell URL args on deployed dashboards. But findings the row/col values requires inspecting the DOM at runtime. Expose these in the dashboard layout UI.

[2015-09-29 03:27] parente opened #9 "Converter should put converted files into "dot" folder"
Currently, when doing File>Deploy as>Local Dashboard, the converted files are added to the notebook server at the top level, as siblings to existing files and folders. This makes things very confusing when looking at the Notebook tree.

A better solution would be to have a top level folder called "converted" or "local_dashboards", where all the files reside.

[2015-09-29 03:28] parente opened #10 "Directly loading a notebook with the 'dashboard' query parameter can cause a rendering error"
1 Create the dashboard layout in the notebook.
2 Switch to 'View Dashboard' in the notebook.
3 Refresh the page and observe the dashboard rendering incorrectly.

This has only been seen on the whiskey dashboard notebook.

[2015-09-29 03:31] parente opened #11 "Notebook user can include local files in deployed dashboard"
The notebook author may want to include external files (e.g. HTML & CSS) without having to write the entire contents in a notebook cell. This works locally, but when the notebook is converted (and deployed) any links to local files will not work. There should be some way of "marking" files for inclusion during conversion.

Example cell linking files:

[code]

Some ideas:

1. Cell magics for includ

[2015-09-29 03:34] parente opened #12 "Support resizable elements within dashboard cells"
The some urth widgets need to update their internal dimensions when their container is resized. This requires that we have some sort of event/notification other than window.onResize().

Our current idea is as follows:   There exists PolymerElement/iron-resizable-behavior, which adds a notifyResize() method to the element. We can listen in dashboard for when a cell is resized, then find any polymer

[2015-09-29 03:34] parente commented on #12
@dalogsdon says:

We could just look at each direct-child of the output_area and widget-area in the cells, and see if they implement notifyResize(). This would cut down on the number of elements we'd have to search for.

[2015-09-29 05:20] lbustelo commented on #11
-1 on option 1. Magics are kernel specific.

Gino B.

[2015-09-29 05:49] lbustelo commented on #12
Searching is probably not a viable solution.
In looking at the iron-resizable-behavior code, the best thing would be to attach a listener for 'iron-request-resize-notification' to each output area or other higher up element. That is the way that resizable elements let the world know about them. Then keep a running list.

An easier approach would be to have control of the created Dom and insert res

[2015-09-29 11:53] parente opened #13 "Make deployed dashboards secure, scalable"
* There's no API auth on the kernel provider at the moment (tmpnb, Jupyter)
* There's no concept of authentication in the generated dashboard app
* The original code is exposed in the dashboard frontend HTML and can be manipulated arbitrarily by any user

Long-term solution that probably involves:

1. Using the jupyter-incubator/kernel-gateway remotely (or something like it) with proper API auth
2

[2015-09-29 13:07] JanSchulz commented on #13
I see this project as a potential [shiny clone](http://shiny.rstudio.com/), meaning that I would like to use this to deploy the frontend to arbitrary users **without** authentications. For this the current way isn't working, as the link to the kernel is exposed and one can basically run any python code via the javascript console.

My idea for that would be version 3) -> a backend which executes th

[2015-09-29 13:16] parente commented on #13
I agree the dashboard frontend -> dashboard backend -> kernel provider is the correct way to secure things. But I think 1, 2 and 3 all need to be done to get it right. There's really no action to take on this issue against this repo at this time: it's the dependencies the code here uses that need to change or swapped out:

* tmpnb or jupyter notebook -> some new kernel provider that does proper AP

[2015-09-29 15:28] JanSchulz commented on #13
Sounds reasonable...

I would still love to see a "jupyter notebook only" solutions, so that I could send out an URL to my students and they could play with some dashboard without me fiddling with node.js, php or whatever :-)

[2015-09-29 16:30] Lull3rSkat3r opened #14 "Tutorial For Community Sentiment Notebook"
__Scenario__: Create a notebook to give an overview of community sentiment about a project. This notebook should show the community sentiment for a open source project on github. This demo should be streaming.

- [x] Github project demo
 - [x] Collect metrics for positive sentiment
   - [x] Collect closed pull requests over _x_ amount of time
    - [x] Collect issues with activity over _y_ amount

[2015-09-29 17:08] Lull3rSkat3r commented on #14
Grabbing this.

[2015-09-29 17:14] parente opened #15 "Race condition in error-log enable with kernel readiness"
Code in error-log.js has to wait for kernel ready event like

[code]

Happens in deployed dashboards, primarily.

[2015-09-29 22:11] jhpedemonte commented on #12
Attached a pull request which updates the Dashboard code based on Gino's comment above. We tested with the following notebook: https://gist.github.com/jhpedemonte/d07b269b3f9b6dc8f8b3. Switching between Notebook and Dashboard views should notify the element to resize, as well as resizing the window or the cell (when in dashboard view).

In order to work with this code, Polymer elements will need t

[2015-09-30 17:07] parente commented on #2
@nitind will take this and work with @deedubbu on what was done for https://github.com/jupyter-incubator/declarativewidgets/issues/2

[2015-09-30 18:34] jhpedemonte opened #17 "Gridstack: Fire onresizestop after CSS transition"
https://github.com/troolee/gridstack.js/issues/159

When resizing a gridstack cell, the `onresizestop` event is fired on mouse up before the CSS transition to snap to the grid completes. This results in incorrect element dimensions when performing sizing calculations based on this event.

To work around this issue, we added a `setTimeout` to wait until a cell completes its CSS width/height transit

[2015-09-30 18:49] jhpedemonte opened #18 "Gridstack: don't move/destroy DOM nodes in add_widget() & destroy()"
https://github.com/troolee/gridstack.js/issues/238
https://github.com/troolee/gridstack.js/issues/216

Currently, Gridstack allows us to pass an option to `remove_widget()` so that the DOM node isn't removed from the container, but `add_widget()` and `destroy()` don't have those options.

In the meantime, we have created our own "subclass" of Gridstack which adds these options ([code](https://gith

[2015-09-30 20:07] parente commented on #18
Should this be opened against gridstack, not here?

[2015-10-01 04:22] parente opened #21 "Double leading slash on git URLs for example Deploy As"
https://github.com/jupyter-incubator/dashboards/blob/master/urth/dashboard/nbexts/bundle_handler.py#L159

jupyter_server already has the base_url on the end of it. Adding it here produces an incorrect URL.

[2015-10-01 19:47] #2 closed

[2015-10-01 20:05] parente commented on #21
I'll take this one.

[2015-10-02 12:41] parente opened #22 "Remove host dependency on bower"
We already have the bower requirement within our dev docker container to support urth-widgets. We can piggy back on this to do the minimal bower install for our own dev purposes. Probably just involves a few swizzles in the Makefile. Pay off: you don't need node/bower installed on the host.

[2015-10-02 16:54] nitind commented on #9
I'll take this one.

[2015-10-02 16:54] parente commented on #6
https://github.com/jupyter/notebook/blob/master/notebook/static/notebook/js/notebook.js#L2005

Scrolls to bottom on every invocation of Run All. We'd have to temporarily disable this behavior in dashboard mode. We could overwrite the function. We could register a new action handler for run-all-cells.

This just scratches the surface. Run All Cells Below does the same.

[2015-10-02 18:03] #21 closed

[2015-10-05 16:40] nitind commented on #15
I'll take this one.

[2015-10-05 18:18] #9 closed

[2015-10-06 18:42] dalogsdon opened #26 "Single-column dashboard reorders DOM nodes"
When in layout/view dashboard, decrease the window width so the layout becomes single-column and then to back to normal width. Switch back to notebook view and observe the cells are out of order.

It looks like gridstack is rearranging the DOM nodes at the smallest width breakpoint. We need to disable that.

This is related to a larger issue of how to do responsive dashboard layouts.

[2015-10-07 00:32] #12 closed

[2015-10-07 12:23] jhpedemonte opened #27 "Create example notebook describing resizable Polymer elements"
Create an example notebook which explains how the Dashboard can interact with resizable Polymer elements (using the `iron-resizable-behavior`).

[2015-10-07 20:05] thibaudh opened #28 "Local Install Without Docker"
Hi all,

I have been playing with IBM's dashboard following the README, thus deploying within a docker image. I was wondering if it is at all possible to setup the dashboard system on a normal JupyterHub install. For instance, does the docker image use a special fork of jupiter?

[2015-10-07 20:58] thibaudh commented on #28
I am also unsure where you guys have dev discussions... Please let me know if you use something else than github issues.

[2015-10-07 21:03] parente commented on #28
The dashboard code is all coded as a Jupyter Notebook extension against the 3.2.x version of the notebook project. With your current dev setup, if you run `make sdist` you should get a source tarball in the `dist/` directory of your clone. You should be able to install that tarball using `pip` anywhere you please with one caveat: the `setup.py` assumes you are installing to `profile_default`. Ther

[2015-10-07 21:25] nitind commented on #11
I'll take this one.

[2015-10-07 23:54] thibaudh commented on #28
Great, I will try `make sdist` trick. Happy to know that it is pure plugin without changes to Jupyter itself :)

[2015-10-07 23:54] #28 closed

[2015-10-08 01:58] parente commented on #11
When you have a plan of attack, put some thoughts here so others can comment.

[2015-10-08 14:01] parente opened #30 "Meetup outreach business dashboard scenario demo / tutorial"
Goal: Have a demo based on a real business scenario that incorporates these key points:

* Shows real-time processing
* Surfaces insights
* Allows the user to take action
* Allows the user to see results of actions
* Can apply to meetup.com topics
* Can apply to other data sources / domains entirely (with coding)

Why: Demonstrate how notebooks can be used to prototype dashboards before further in

[2015-10-08 14:14] jhpedemonte commented on #30
Taking. Working on this with @dalogsdon.

[2015-10-08 15:26] parente commented on #28
I added a package section to the README documenting this. Thanks for asking about it!

[2015-10-08 23:12] nitind commented on #11
Current idea is to let the user declare files as associated with the notebook using comments in one or more markdown cells, and have those files automatically included whenever deploying and also offered with a new "Download as" option, "IPython Notebook with associated files (.zip)" (a working terminology for now, I'm open to something better). The list itself would be patterns as described in ht

[2015-10-12 02:47] #15 closed

[2015-10-13 16:37] parente commented on #11
The plan sounds fine to start. We'll invite community feedback on it in the PR when there's a visible code fencing option for the associate list too.

I think the true test of this should be writing a new test_package_widget.ipynb that goes along with this work. That notebook should <link> to a very simple local custom polymer widget that sits relative to the notebook so that it works in jupyter n

[2015-10-14 12:59] parente commented on #13
Two updates on this topic.

First, jupyter-incubator/kernel_gateway prototype is seeded.

Second, I've done a bit of research into limiting what a frontend can do to a kernel by reading through the protocol docs more thoroughly (http://jupyter-client.readthedocs.org/en/latest/messaging.html). At the very end, there's a section stating that custom Comm channels (which is what interactive widgets us

[2015-10-14 16:38] lmeyerov commented on #13
First of all, awesome :)

To provide security, we need a security model (threat model + what properties we're trying to preserve). It's not clear what those are here. As an example, Splunk dashboarding focuses on read/write controls for both the data sources and the dashboard.

[2015-10-14 17:40] nitind commented on #11
/cc @rgbkrk I've got this implemented so that a user can enter details into a cell indicating files that should accompany the notebook when downloaded, and be deployed in its dashboard form, whether that's custom widget files or data files (or other notebooks, although the list considered isn't transitive). I wanted to know if there's already a solution for this problem that people are keen on, or

[2015-10-15 02:40] rgbkrk commented on #11
The only primary ways that people have gone after it is with custom metadata in the notebook itself. This is such a persnickety problem we've all avoided that I think posting a possible solution as a PR (I'm assuming to the notebook) will end up helping give it a try. Include screenshots in the PR for the best feedback - it tends to motivate people to give the PR a spin on their local box.

[2015-10-15 21:10] jhpedemonte commented on #30
Some ideas for additional work as we are finalizing the first pass:
- Link Bluemix meetups to a map showing location of venue (or group, as fallback).
- broadcast global variables for use in Spark workers (relevant topics, bluemix meetups, etc.)

[2015-10-16 18:36] parente commented on #13
@lmeyerov Thanks for commenting. I'll admit right up front that while I'm not totally in the dark with respect to security, I'm also by no means a pro at it. You clearly have some experience here. I'd love to collaborate on it.

Are you by chance in NYC / going to Jupyter Day next week there?

[2015-10-16 20:02] parente opened #34 "Incorrect conversion of HTML within markdown cell"
See the `</a>` in the header.

<img width="1290" alt="screen shot 2015-10-13 at 9 41 10 pm" src="https://cloud.githubusercontent.com/assets/153745/10552077/44b7e72e-741f-11e5-956b-2c2646e32702.png">

[2015-10-16 20:03] parente opened #35 "Deploy As -> Local fails if notebook is read only"
The save_notebook call winds up returning a null / undefined instead of a promise. Check to see if we're actually getting a promise back or not before invoking then(). (Maybe should be fixed upstream in notebook JS to always return the promise.)

[2015-10-18 05:27] rgbkrk commented on #13
Definitely a can of worms. Wish I was able to make it to NYC with you all.

[2015-10-18 07:01] lmeyerov commented on #13
Hi @parente -- @thibaudh, @padentomasello & I are in SF. I'll be in NYC either nov ~11th or around thanksgiving, and am in DC quite a bit. Any of that help? Happy to do a call on this, and deployment & data app authoring in general.  Likewise, let us know if a preferred way to help in general.

FWIW, after we finish prototyping a couple spark apps, we should have a better feel for MVP issues. E.g.

[2015-10-19 13:50] parente commented on #11
@rgbkrk Does it make sense to merge this here in incubator to handle the dashboard use case of it, and then take it over to notebook as a more general PR with use case in hand? I'm not sure we were after a generic solution to packing up assets to include with notebooks when you download them, though perhaps we accidentally landed on one.

[2015-10-19 13:52] rgbkrk commented on #11
Merging the implementation here first then following up with a general PR seems like a good idea. I can't imagine we'll get consensus on the general use case very quickly, but having something working here helps motivate and steet.

[2015-10-19 14:11] parente commented on #13
Looks like we'll miss by a few weeks on a face to face. But we can still work virtually on security and deployment scenarios, maybe on the wiki associated with this repo. I've not given it my full attention yet, (and can't this week either) but I hope to soon. In the mean time, if you have thoughts / details on deployment, threat model, etc. feel free to seed a wiki page or some such and point to

[2015-10-19 14:47] parente commented on #10
Recent experience:

1. jupyter.cloudet.xyz
2. Load whiskey notebook (or any other dashboard notebook)
3. Run All to get everything loaded
4. View Dashboard
5. Refresh **with cache disabled in Chrome** as many times as you like = Everything OK
6. Refresh **with cache enabled in Chrome** and every other time, get a requireJS timeout loading all extensions.

[2015-10-19 14:50] parente commented on #14
Can you update the description to match what you think you want to push for this issue vs follow on issues?

[2015-10-19 21:22] nitind commented on #34
I'll try to make sense of this one.

[2015-10-19 21:43] jhpedemonte opened #38 "Deployed dashboard errors out when trying to use Urth widgets channel"
To recreate:

- Create a new dashboard with this code cell:

[code]

- Run **File > Deploy as > Local Dashboard**.
- Open browser error console and notice this error:

[code]

@lbustelo says that the `channel` code is initialized when the notebook receives a kernel ready event. I think we may be executing all code cells before that can happen.  Perhaps this is due to how we invoke `executeAll` in

[2015-10-20 01:17] Lull3rSkat3r commented on #14
Updated the description. Making a note of other ideas to revisit in the future below.
 * Add scala version of notebook
 * Use spark for streaming

[2015-10-20 14:43] jhpedemonte opened #39 "Make Meetup Outreach demo more parallelizable (remove use of globals)"
The Meetup Outreach demo (see issue #30) makes extensive use of globals in the Python code. While this works well when running the demo locally, it doesn't allow us to make good use of distributed nodes.

We need to replace the use of globals through the use of map/reduce and broadcast vars & accumulators.

[2015-10-20 16:03] parente commented on #14
Ref PR #37

[2015-10-20 16:36] parente commented on #30
Closed by PR #40.

[2015-10-20 17:59] parente opened #41 "Create a boilerplate sentiment dashboard notebook"
Once we've got one example under our belt in the form of the community sentiment dashboard (issue #14), create a new notebook that tears it down to the barebones widget definitions and layouts. Document the structure of the data required by these widgets and how it must be bound to them. Then fill in very simple "hello world" versions of functions / DataFrames that generate fake data just so the n

[2015-10-20 20:27] Lull3rSkat3r opened #42 "Multiple Instances of Dom Nodes In Dashboard View"
When working with the Commnunity Sentiment Notebook multiple dom nodes are created for the `urth-core-function` elements in dashboard view.  It appears there are multiple instances of the notebook represented in gridstack, as well as duplication of the cells within a given output area.

When I reference an element by its id, I see an array returned.
<img width="648" alt="multiple dom nodes" src="h

[2015-10-20 21:11] #30 closed

[2015-10-21 13:15] parente commented on #14
Added one todo: switch away from red/green as the color scheme. I suggest a blue / red scheme which accounts for RG colorblind users.

[2015-10-21 15:47] dalogsdon commented on #42
We would duplicate it once when we clone hidden cells to show in the hidden area. I am not sure where a third one comes from.

[2015-10-21 15:54] jhpedemonte commented on #42
This is caused by how we show the cells in the **hidden section** of the dashboard. Our main goal is to show a visual representation of the cells (if they have any output). We first tried to move them from their area in the notebook to the hidden section (and allow moving back), but this breaks Notebook functionality.

In the end, we just duplicated the DOM (but not events and data). That's why th

[2015-10-21 16:03] jhpedemonte commented on #42
It seems like we would want to go away from copying the DOM, since it can have bad implications. Some options we thought of as replacements:

1. Only show code in the hidden section. Default to showing the first 5 or 10 lines, but allow user to expand. If user wants to see what that cell outputs, they can either add the cell to the dashboard or click on the *edit* button to go back to the Notebook

[2015-10-21 16:43] #38 closed

[2015-10-21 17:57] jhpedemonte commented on #42
Another option:
3. Create another Gridstack which would absolutely position the `hidden` elements. The main issue here is that both Gridstack instances would use the same container (since we can't move any of the Notebook cells). That means they would overlap -- we'd have to add JavaScript to continually reset the height offset of the `hidden` Gridstack.

[2015-10-21 20:09] parente commented on #14
jupyter-incubator/declarativewidgets#57 was a partial fix to remove the need for sleep in the outreach meetup notebook. Maybe want to check if it resolve the sleep issue here too.

[2015-10-22 15:23] Lull3rSkat3r commented on #14
#45 closes #14

[2015-10-22 15:23] #14 closed

[2015-10-22 16:00] parente commented on #4
Ideas so someone can pick this up:

- Catch the subprocess failure up in the bundle handler and rethrow it as a 500, but with a custom error message about what went wrong (i.e., bower fail)
- Catch the subprocess failure down in the call to bower, get the line  from the output that inclues the error, raise as RuntimeError, catch it in the bundle handler, and raise 500 with custom error message ind

[2015-10-22 21:27] dalogsdon commented on #8
Is there still any interest in enhancing the row/col query feature?

[2015-10-22 21:55] jhpedemonte commented on #10
We can no longer reproduce this issue on Chrome (also tried Firefox), against either our local server or against jupyter.cloudet.xyz. @parente, if you cannot reproduce, then suggest closing this.

[2015-10-23 00:01] parente commented on #8
Every embedding use I've seen in a demo has embedded the entire dashboard, not row/col. I say pass on this for now unless you really want to tackle it.

[2015-10-23 20:06] jhpedemonte commented on #22
Currently, we are doing the following with Node and Bower:

1. Running autoprefixer on our CSS.
2. Installing Gridstack.js and Require.js libraries.

We're unsure how to best update the Makefile to do this before running the actual command in Docker. Do we want to create a script that gets run as the `$(CMD)`, to run the above before starting the Notebook server?

[2015-10-23 20:27] parente commented on #22
I was thinking it would just be a separate make target (make js? frontend?) that runs in a container instance that has the host mount. It does its thing. Then there's make dev that just assumes the other one has already run. The former could easily be a dep on the target of the latter like (psuedo code):

[code]

[2015-10-23 20:40] jhpedemonte commented on #22
OK, makes sense.

In Makefile, while some targets are using `cloudet/pyspark-notebook-bower` as the image, most are using `jupyter/pyspark-notebook:3.2`, which contains neither node nor bower. Should we switch all to use `cloudet/pyspark-notebook-bower`?

[2015-10-23 21:13] dalogsdon commented on #22
Created PR #47 to add a `js` Makefile target.

[2015-10-23 22:42] parente commented on #22
Need to switch to the one image other Travis becomes :unamused: with the two image pulls.

[2015-10-23 22:43] #7 closed

[2015-10-23 22:43] #26 closed

[2015-10-23 22:45] #10 closed

[2015-10-26 13:10] #42 closed

[2015-10-26 14:52] jhpedemonte commented on #22
So should we change all images in Makefile to use the `*-bower` image? It's just a very small wrapper around the `pyspark` image.

[2015-10-26 14:52] jhpedemonte commented on #8
Nah, let's close this. If it becomes necessary in the future, we can open another issue.

[2015-10-26 14:53] #8 closed

[2015-10-26 15:44] parente opened #49 "Move to 4.x notebook as the minimum requirement"
We put off moving the code in this repo to supporting the post-Big Split version of the notebook until we understood the future intersection of the work here with the future version of notebook based on Phosphor. After meeting with @sccolbert, @ellisonbg and others about that topic, we agreed that pushing the dashboard layout implementation into jupyter/notebook ahead of the phosphor port of noteb

[2015-10-26 16:08] dalogsdon opened #50 "Taxi demo no longer autoloads table data"
The taxi demo notebook should autoload table data as it hooks up a `paper-menu` with pre-selected item to an `urth-core-function` with an `auto` attribute.

This used to load the table whose data is set by the `auto` function so that the data is initially visible without user interaction to pick a dataset.

Not sure if this is a dashboard or declarative widgets issue.

[2015-10-26 16:15] dalogsdon commented on #27
Working on this with @jhpedemonte

[2015-10-26 17:44] parente commented on #34
If we can't control the converter, let's just update the notebook so that the anchors are outside the heading markdown (assuming that fixes the problem).

[2015-10-26 21:19] jtyberg opened #52 "In Layout mode, I really, REALLY want to drag and position cells by selecting anywhere in the cell."
When positioning cells in Layout mode, I constantly find myself clicking and dragging the cell body to move cells, only to be reminded each time that it doesn't work that way.  I then squint and locate the little move icon in the upper left corner of the cell and try again.  5 seconds later, I do the same for the next cell.  Doh!

[2015-10-26 21:39] jtyberg opened #53 "Contents can overflow dashboard cell boundaries, overlap other cells"
In Layout mode,

1. Add cells to be displayed in View mode.
2. Resize one of the cells to a much larger size, such that it overlaps existing cells.
3. The overlapped cells are now underneath the enlarged cell.
4. I now have to reposition all the overlapped cells.

When I resize a cell to make it larger, I think I'd like any cells that are being overlapped to be pushed beneath the one I'm enlarging

[2015-10-26 21:54] dalogsdon commented on #53
We haven't seen this issue in our testing. The normal behavior is to push the cells out of the way. Can you post either a screenshot or a notebook that reproduces the issue?

[2015-10-26 22:01] dalogsdon commented on #52
I agree that it is more intuitive to grab anywhere to drag. The reason there is a drag handle is that the cell output may contain widgets that are interactive, so we did not want the dragging to interfere with the interaction.

However, now that we have a 'View' mode in addition to a 'Layout' mode, we could use 'Layout' mode for dragging anywhere on the cell, blocking mouse interaction with any ce

[2015-10-26 22:03] dalogsdon opened #54 "Add toolbar buttons to select Dashboard view mode"
We frequently use the menu items for selecting a Dashboard view mode ('notebook', 'layout dashboard', 'view dashboard'). It may be beneficial to add a button group to the notebook toolbar to more quickly select a view mode.

[2015-10-26 23:01] jtyberg commented on #53
Actually, the problem only seems to occur with cells that contain images/plots.  The cell boundaries do not always "contain" the image.  I didn't even realize that I did not size the cell correctly.  I kinda wish it wouldn't let me do that.

<img width="516" alt="large_overlap" src="https://cloud.githubusercontent.com/assets/359081/10744808/f16f9516-7c12-11e5-95ba-844414690b65.png">

[2015-10-27 00:42] jtyberg commented on #52
I can't speak for everyone, but when I'm in Layout mode, I'm thinking about cell position and size.  So I like the idea of favoring those interactions over interactions with widgets.  I wonder what others think.  I may be in the minority.

[2015-10-27 01:01] parente commented on #53
Maybe if we reversed the original thinking and clipped at the grid cell boundaries it would be less surprising? The problem then is that the notebook author can't always predict what the max size of a cell will be (e.g., table) and overflow is beneficial in that case.

[2015-10-27 01:13] parente commented on #52
I've found myself interacting with a cell in layout mode to see if dynamic content fits in the cell or not. I'd go nuts flipping between layout and view to get that right.

[2015-10-27 01:39] lbustelo commented on #52
I'm not a fan of modes.

Maybe when you hover, a larger frame and drag target appears around that does not interfere with content.

Gino B.

[2015-10-27 01:59] jtyberg opened #55 "Report mode"
I have a few lengthy notebooks, each with a large number of cells, and I want to surface more cells than would fit in a single screen dashboard view.  So what I want to show is more like a report than a dashboard.

Say out of 100 cells, I want to select 20 to show up when I switch to View Dashboard.  I don't really want to layout the cells, I just want to display them top to bottom, in the same or

[2015-10-27 02:14] jtyberg opened #56 "Put cells at bottom of dashboard with full width when moving hidden -> showing"
In Layout mode, when I 'Add' a cell from the Hidden Cells section, it moves to the top section, but the cell is automatically sized and positioned in this top section (to optimize space).

If my notebook has quite a few cells, I may add several of them from the Hidden Cells section.  When I scroll up, I am disoriented by the lack of order of the newly added cells.  I may add a couple of plots, alo

[2015-10-27 13:00] parente opened #57 "Cell sizes incorrect when flipping from notebook to dashboard view"
![screen shot 2015-10-27 at 8 58 25 am](https://cloud.githubusercontent.com/assets/153745/10758631/044faf4c-7c89-11e5-976c-8af974a6c12c.png)

Tapping the browser window size fixes the problem immediately:

![screen shot 2015-10-27 at 8 59 54 am](https://cloud.githubusercontent.com/assets/153745/10758646/1a9f51a8-7c89-11e5-8aba-30f2296f51fe.png)

[2015-10-27 13:01] parente commented on #57
Going from notebook -> layout -> dashboard view does not hit the bug. I suspect it's because the Jupyter headers / toolbar are hiding at the same time the layout is being computed. Sequence them?

[2015-10-27 13:08] parente opened #58 "Meetup Outreach table problems"
Columns are not aligned. Dates appear to be missing.

![screen shot 2015-10-27 at 9 06 49 am](https://cloud.githubusercontent.com/assets/153745/10758853/4f67fa60-7c8a-11e5-9714-89d5c2863580.png)

[2015-10-27 13:21] parente opened #59 "Meetup outreach re-run with different topic"
Run it once top to bottom. Then go back and change the topic of interest variable. Then run it again.

![screen shot 2015-10-27 at 9 20 11 am](https://cloud.githubusercontent.com/assets/153745/10759141/066ae294-7c8c-11e5-80b9-de29d62538d6.png)

[2015-10-27 13:23] parente commented on #58
Dates appear on second run of the cell defining the widget. (This is long after any kind of bower install in the backend btw.)

[2015-10-27 13:39] lbustelo commented on #59
Looks like that notebook has a cell that is defining a polymer element. You will always run into that problem unless you protect that cell from multiple executions.

One idea is to store the return of the Polymer() call to a global and test around it.

[2015-10-27 13:51] parente commented on #50
Is this related to the widget defect you also opened?

[2015-10-27 14:02] parente commented on #4
@nitind Can you please have a look at this one too, in conjunction with the others you're working. When you've picked an approach, state it here for quick discussion.

[2015-10-27 14:16] parente opened #60 "Top level index.ipynb guide to all demo / test notebooks"
We've got a slew of content. Users need a roadmap. This should be something like the index.ipynb we put on jupyter.cloudet.xyz but specific to all the notebooks in this repo. The guide should suggest a sequence of reading through them to learn about dashboards and give a brief description of each to avoid having the user open each one to learn what it is.

[2015-10-27 14:34] dalogsdon commented on #50
Yes

[2015-10-27 14:41] dalogsdon commented on #59
When we can bundle external files with deployed dashboards (#11) we can define the Polymer element in a separate file. This will also be beneficial for reducing code in the demo notebook.

[2015-10-27 14:41] parente commented on #59
For now, do the quick fix: make it global and check if already defined.

[2015-10-27 14:48] parente commented on #11
Waiting for travis to complete final test run. Then merging PR.

[2015-10-27 14:48] #11 closed

[2015-10-27 14:57] Lull3rSkat3r commented on #52
Can we put the drag handle around the entire border? Have the very edge be for resizing and have a small border for dragging. Now that I am writing it out seems a little wonky, but maybe will seed some innovation :cow:

[2015-10-27 14:58] Lull3rSkat3r commented on #56
:+1:

[2015-10-27 14:59] parente commented on #52
Hotkey (Cmd) you hold while click/dragging to indicate "I want to move this" instead of "I want to interact with this"? Can be doc'ed somewhere / show up as a first time tooltip on drag?

[2015-10-27 15:03] #22 closed

[2015-10-27 15:11] parente opened #62 "Notebook bug with space at bottom, but maybe we're making it worse with hiding the header"
We think it's a notebook bug, but @parente seems to think it could be something we're tickling by hiding the header and toolbar.

[2015-10-27 15:12] parente commented on #58
Sounds like a polymer thing, but maybe there's a way to workaround?

[2015-10-27 15:22] parente commented on #53
Maybe indicate where cell ends and overlap begins? Maybe revisit if clipping or scrolling within the cell is possible?

Investigation required.

[2015-10-27 15:36] parente commented on #56
* Click "+" in hidden to add to showing: stack cells at the bottom of showing in order clicked, full width
* Click eyeball to show all still does dense packing

[2015-10-27 15:42] parente commented on #55
#56 does help on this one a bit, but we don't know how to get a better indicator in notebook view of what's in the layout and where.

[2015-10-27 15:48] parente commented on #52
Discussed that we should look into hotkey modifier approach with doc for it in a tooltip or something (to be opened separately). We will keep the current dragger icon too.

[2015-10-27 15:48] parente opened #63 "Tooltip or hint area for new users of dashboard layout"
Need to document a few high-level suggestions somewhere:

* Hover to see icons
* Resize cells
* Eyeball icons
* Hotkey modifier for dragging cells by clicking anywhere (issue #52)
* etc.

Ideas:

Tooltip / popover that shows on first visit to layout mode in a notebook (set a global), but requires a click on an icon near the Dashboard section of the toolbar thereafter.

[2015-10-27 16:11] parente opened #64 "Can't scroll notebook after flipping back from layout"
1. Open the polymer resize tutorial
2. Run All
3. Scroll to top of notebook
4. Flip to layout
5. Flip right back to notebook
6. Try to scroll

Can't scroll. Scroll bars no longer exist in notebook view.

![bye-bye-scroll](https://cloud.githubusercontent.com/assets/153745/10764287/ce464436-7ca3-11e5-8811-9234dfa3ecd3.gif)

[2015-10-27 16:12] #27 closed

[2015-10-27 16:18] jhpedemonte commented on #53
The main reason we don't hide overflow of cells is due to menus. With `overflow:hidden`, menus are clipped at that bottom of the cell.  Side effect is that some other elements also leak out, as seen above.

[2015-10-27 16:27] jhpedemonte commented on #53
One option: make borders of cells appear above cell contents, as seen below:

![screen shot 2015-10-27 at 11 27 10 am](https://cloud.githubusercontent.com/assets/711365/10764781/b3a9b532-7c9d-11e5-84c6-d694ba3e0351.png)

[2015-10-27 16:49] jhpedemonte commented on #53
Second option: use JavaScript to calculate the height of the cell content, and don't allow cell to be sized any smaller. This might be frustrating to users, though, since it removes some control -- it's possible a user would want there to be overflow.

[2015-10-27 16:50] jhpedemonte commented on #53
Also, it should be noted that when first going into dashboard view (no previous dashboard data) and when doing a show all, the cell is properly sized to contain the cell contents as they currently exist. So the only way to get overflow are: (1) the user resizes smaller than content, as Justin did in screenshot above; (2) there is a widget (such as a menu) which increases in height.

[2015-10-27 17:15] jtyberg commented on #53
Actually, I've found that during initial sizing of cell, to make it larger, the content can leak outside the cell boundary, even if I only ever increase the cell size.  For example, when increasing  in one direction, say width, an image within the cell increases in both width and height.  Since the aspect ratio of the bounding box is not constrained, it's rather easy to get overlap when only makin

[2015-10-27 17:16] parente commented on #53
I like option #1 for its simplicity in comparison to #2.

[2015-10-27 18:20] dalogsdon commented on #53
When sizing a cell, we set a temporary width on the cell to cause text cells to automatically wrap after a certain point so not all text cells take the full width. This causes images larger than that size to be sized smaller than their true size. Resizing these images to be larger could then cause an overflow.

[2015-10-27 18:37] Lull3rSkat3r commented on #59
Added PR #65 to fix this.

[2015-10-27 19:19] dalogsdon commented on #53
PR #66 resolves this using option 1, showing cell borders always.

[2015-10-27 20:11] jhpedemonte commented on #57
We couldn't reproduce this, at least not with latest code. But we did see a couple of other cases where we weren't waiting for the resize transition to end before letting the cell contents know they could resize. Those are fixed by reference PR.

[2015-10-27 20:56] parente commented on #57
I can't reproduce original with your fix. I didn't roll back to see if it was already fixed on master too. I was using the image deployed last Thursday at jupyter.cloudet.xyz. Not sure if anything went in since then that would have fixed this. :/

[2015-10-27 21:00] parente commented on #53
@jtyberg give it a whirl and see if it's good enough or not.

[2015-10-27 21:11] parente opened #68 "Dashboard view scrolls height of hidden cells, even when hidden cells not in that view"
Might be a regression from when we switched to not having dupe DOM nodes. To reproduce:

1. Open whiskey demo (or any one; whiskey is simplest)
2. Run it.
3. Switch to View Dashboard
4. Scroll allllll the way down in blank area (see below for partial scroll)

![screen shot 2015-10-27 at 5 09 27 pm](https://cloud.githubusercontent.com/assets/153745/10772701/b905b0e6-7ccd-11e5-89c9-514056ab2829.png)

[2015-10-27 21:11] parente commented on #68
@dalogsdon, @jhpedemonte can you have a look?

[2015-10-27 21:15] parente commented on #62
Problem is code is not triggering the `resize-header.Page` event like the notebook code does.

[2015-10-27 21:31] jhpedemonte commented on #58
This is a general Polymer issue when trying to use computed bindings without defining your own element. We generally followed this [Stack Overflow](http://stackoverflow.com/questions/30809563/computed-bindings-in-auto-binding-templates-in-polymer-1-0) answer, which itself points to [Polymer code](https://github.com/PolymerElements/iron-validator-behavior/blob/master/demo/index.html) which is doing

[2015-10-27 22:35] dalogsdon opened #70 "Dragging dashboard cells does not recompute page height"
Resizing, hiding, and showing dashboard cells causes the page height to recompute, but moving a dashboard cell does not.

This could be as simple as calling the resize function after the Gridstack `dragstop` event as we do with the `resizestop` event.

[2015-10-28 00:44] #62 closed

[2015-10-28 00:46] parente commented on #64
@Lull3rSkat3r can you have a look? Might be all the other recent fixes also corrected this one.

[2015-10-28 01:14] #59 closed

[2015-10-28 01:14] parente commented on #59
Will open an enhancement for later about migrating the widget out of the notebook to test @nitind's association work.

[2015-10-28 01:17] parente opened #71 "Move dynamic list widget out of outreach notebook"
Continuation of #59. Move the dynamic list widget out of the meetup outreach notebook and use the association markup to get it packaged with the notebook / dashboard. Requires a fix on the widget side.

[2015-10-28 01:17] parente commented on #71
@jhpedemonte can you link to widget issue that has to be fixed?

[2015-10-28 14:41] dalogsdon commented on #64
I was still seeing this issue when reviewing changes for issue #62.

[2015-10-28 15:03] parente commented on #34
Moving the anchor outside the heading doesn't fix. Still get the anchor leakage.

[2015-10-28 16:23] dalogsdon opened #72 "Dashboard layout is reset when going from notebook view to layout view on new notebook"
1. Create a new notebook with a few cells
2. Enter dashboard layout view and arrange the cells
3. Switch back to notebook view
4. Switch back to dashboard layout view
5. **Note that the layout has not been preserved**
6. Repeat steps 1-2 above with a new notebook
7. Save the notebook
8. Refresh the page
9. Switch to dashboard layout view
10. **Note that the layout is correct**

Upon initial invest

[2015-10-28 16:47] Lull3rSkat3r commented on #64
When switching to dashboard views an explicit height is being set on the `#notebook` element. It looks like the height is coming from [dashboard.js](https://github.com/jupyter-incubator/dashboards/blob/master/urth_dash_js/notebook/dashboard-view/dashboard.js#L248). When switching back this height is not removed. I am thinking a fix should go into the [ `exitDashboardMode`](https://github.com/jupyt

[2015-10-28 17:01] dalogsdon commented on #72
PR #73 resolves this

[2015-10-28 17:01] parente commented on #71
Depends on jupyter-incubator/declarativewidgets#22

[2015-10-28 17:10] dalogsdon commented on #70
Resolved with PR #74

[2015-10-28 18:32] jhpedemonte commented on #64
OK, that's what I figured. Setting the height is necessary when showing the hidden cells area (since we are now absolutely-positioning them). Removing height in `dashboard-actions.js` should be fine.

[2015-10-28 18:51] #64 closed

[2015-10-28 19:49] dalogsdon commented on #50
This has been resolved by jupyter-incubator/declarativewidgets#63

[2015-10-28 20:49] jhpedemonte opened #78 "Deployed sibling polymer element can't find bower installed elements"
For the Meetup Outreach demo, we moved some of our code out to HTML files which are siblings of the notebook file. We then import them like so:

[code]

The top of each of those HTML files has something like this:

[code]

This works well in the Notebook, but doesn't when we deploy. We get the following error:

[code]

[2015-10-28 21:40] jhpedemonte opened #80 "Deploying installs Polymer 1.2, but declarativewidgets are pegged at 1.1.x"
When deploying a local dashboard, Polymer v1.2 is installed. But this breaks Urth channels (see jupyter-incubator/declarativewidgets#62). For that reason, the declarativewidgets devs have [pegged their installs at v1.1.x](https://github.com/jupyter-incubator/declarativewidgets/commit/6b174e9bc24b381d6503e91b6785c35fabdf2335). We should use the same versions that they define in their bower.json.

(

[2015-10-28 22:08] jhpedemonte commented on #57
OK, I figured out how to reproduce this exact issue:

1. Open Meetup Outreach demo.
2. Run all.
3. Switch to one of the Dashboard views.

-> overlapping cells in the **Upcoming Meetups** list.

The issue is that in `setInteractive` we are calling the `complete` callback (which invokes `PolymerSupport.notifyResizeAll()`) *before* the Gridstack container has finished resizing. We need wait for the t

[2015-10-29 00:35] #68 closed

[2015-10-29 00:36] #72 closed

[2015-10-29 00:36] #70 closed

[2015-10-29 00:56] #50 closed

[2015-10-29 00:57] lbustelo commented on #80
I just merged in a fix that allows us to move to polymer 1.2. I think this can be closed.

[2015-10-29 00:58] parente commented on #80
Well, we still have the problem that we run bower install when packaging the notebook as a dashboard. If that bower install manages to pull down different versions from what was originally downloaded, the dashboard will be busted in unexpected ways. We should try to use whatever is already installed in the Jupyter server instead of letting bower pull down newer versions if possible.

[2015-10-29 01:01] lbustelo commented on #80
Yep... Bower hell!

[2015-10-29 01:09] lbustelo commented on #78
We still need to take a look at jupyter-incubator/declarativewidgets#22 . It is strange that the relative urth_components path does not work.

[2015-10-29 02:19] parente commented on #49
Things known to be broken so far:

* setup.py install
* Paths of config files in makefile
* nbconvert flags (--quiet)

[2015-10-29 15:12] parente commented on #34
Looks like a pandoc limitation. Back off and just use the generated heading IDs.

[2015-10-29 15:32] #71 closed

[2015-10-29 15:32] #58 closed

[2015-10-29 19:13] parente commented on #80
We decided to do the simplest thing for now: package the entire bower_components from the notebook server into the dashboard bundle by copying it in. We'll get more than a particular notebook needs, but there won't be any chance of something mismatching.

While jupyter-incubator/declarativewidgets#25 is open, it might be an opportunity to explore optimizations. I know we've been down the path of s

[2015-10-30 14:14] parente opened #83 "Outreach demo links are now ... ugly"
Probably happened when externalizing the widget.

![https://cloud.githubusercontent.com/assets/153745/10758631/044faf4c-7c89-11e5-976c-8af974a6c12c.png](https://cloud.githubusercontent.com/assets/153745/10758631/044faf4c-7c89-11e5-976c-8af974a6c12c.png)

vs

<img width="586" alt="screen shot 2015-10-30 at 10 12 00 am" src="https://cloud.githubusercontent.com/assets/153745/10847797/fa09e72e-7eee-11

[2015-10-30 14:19] #57 closed

[2015-10-30 14:44] parente opened #84 "Don't copy bower_components if dashboard isn't using declarative widgets"
We currently protect against the case when declarative widgets aren't installed. But we do still continue to copy `bower_components` into every dashboard package, even when the notebook being converted doesn't use the widgets.

jupyter-incubator/declarativewidgets#75 will help, but I think this is possible even now if we have a sane way of determining if the notebook is using declarative widgets o

[2015-10-30 14:44] parente commented on #84
/cc @Lull3rSkat3r

[2015-10-30 14:47] parente opened #85 "Race condition between execute all in thebe and kernel ready"
Discovered this in my 4.x port testing. I thought it had to do with how the new thebe based on the 4.x notebook behaves, but I just hit it in master too.

1. Run without widgets installed.
2. Deploy scotch dashboard locally.
3. Notice it doesn't load.
4. Look in console to see kernel not ready messages.

I don't know if we introduced this recently or not, but it appears that we've have a race cond

[2015-10-30 14:48] parente commented on #85
I'll take 'cause I have the fix already.

/cc @Lull3rSkat3r @jhpedemonte @dalogsdon

[2015-10-30 14:54] #80 closed

[2015-10-30 14:56] parente opened #86 "Create a demo that uses other widget libraries in a dashboard"
We need to show that dashboards don't only work with declarative widgets. Create a really simple demo that uses Bokeh or bqplot or ... whatever in a simple dashboard layout. Bonus: see if it can be deployed locally or if new, special hooks are required for the particular library.

[2015-10-30 15:32] #83 closed

[2015-10-30 16:30] dalogsdon opened #88 "Meetup outreach 'change in last week' arrow no longer renders"
Since moving the 'Upcoming Meetups' widget into an external Polymer element, the arrows no longer render since they are Font Awesome characters. We could change them to Unicode arrows to avoid including Font Awesome in the Polymer Element.

[2015-10-30 18:22] parente commented on #53
Closing. Can reopen if it's not good enough in practice.

[2015-10-30 18:22] #53 closed

[2015-10-30 18:59] dalogsdon commented on #52
We will take the hotkey approach. Working on this with @jhpedemonte.

[2015-10-30 20:26] jtyberg commented on #52
:joy:  :+1:

[2015-10-30 21:47] dalogsdon commented on #52
Hold the Shift key to be able to drag anywhere on a dashboard cell. Each cell will display the move icon to indicate this.

![image](https://cloud.githubusercontent.com/assets/6362426/10858825/ec3d4dfc-7f25-11e5-861c-54928be3e483.png)

@jtyberg Give it a try when PR #91 is merged.

:octopus:

[2015-10-31 17:50] parente opened #92 "500 error (sometimes) when converting to dashboard"
The critical bit is in the render of the jinja template:

`jinja2.exceptions.UndefinedError: \'IPython.nbformat.notebooknode.NotebookNode object\' has no attribute \'layout\`

Best guess: the `layout` loop var is not defined on all iteration of the loop.

[code]

[2015-11-02 14:10] parente commented on #92
Reproduced by trying to deploy the `test/test_html_javascript` today.

[2015-11-02 14:19] parente commented on #92
`test/test_no_layout` has the same problem and is probably the source of the problem: template regression when cells have no layout metadata.

[2015-11-02 14:35] parente commented on #92
Found it. Looks like we're not always clearing out the `metadata.urth.dashboard` object in the notebook document when we hide a cell from the dashboard view. Rather, we just clear the layout. But the `thebe.tpl` only checks if object existence down to the `dashboard` property level and then bombs trying to read the layout.

I'll put in the PR. Check for layout existence too.

/cc @dalogsdon @jhped

[2015-11-02 14:43] parente commented on #49
All known bugs handled. Putting in stasis pending decl widget update to 4.x too.

[2015-11-02 15:03] nitind commented on #34
The ipython/tools/tests/Markdown Pandoc Limitations.ipynb notebook mentions "heading anchors", but does not elaborate on it.

[2015-11-02 15:38] #88 closed

[2015-11-02 15:47] #92 closed

[2015-11-02 16:25] #52 closed

[2015-11-02 16:27] parente commented on #52
Tested a bit. Confirmed that it doesn't have any effect in dashboard view or deployed dashboard (correct). Really tried to break it by holding shift while clicking outside browser and back to notebook mode. It does get "stuck" but pressing and releasing shift to reset things works fine.

@jtyberg Give feedback when you've got a chance to try it.

[2015-11-02 17:00] #34 closed

[2015-11-02 18:33] parente opened #96 "Outreach demo should filter tracked meetups"
1. Left-side upcoming meetups panel is tracking meetup A
2. User 1 appears in the right-side meetup candidates because he/she RSVPs for meetup A (hmm ...)

To be more realistic, I think we'd want to filter user 1 from the candidate list. We don't want to bother a user who just registered for ~~a meetup~~ one of our meetups to register again for another meetup right away.

[2015-11-02 18:44] dalogsdon commented on #96
The right side users have all just RSVP'd for a Meetup.

Regardless if the Meetup was from the left side or not, if there is another one close by should we send a message about it? Or do we assume if they are already attending Meetups in the area around our topic that they are most likely aware of other similar Meetups in the area?

[2015-11-02 18:46] parente commented on #96
Clarification:

[2015-11-02 19:40] dalogsdon commented on #96
It looks like we are currently filtering implicitly on the topic like this:

[code]

The check for `topic['urlkey'] != PROD_TOPIC` can be replaced with a more explicit loop through our meetups.

[2015-11-02 20:53] nitind commented on #4
No longer applicable. We don't use bower at runtime any more.

[2015-11-02 20:54] #4 closed

[2015-11-02 22:30] dalogsdon commented on #63
Taking this one.

[2015-11-03 15:04] #56 closed

[2015-11-03 15:09] parente opened #99 "Prevent accidental add all / remove all cells from dashboard"
If I click either eyeball icon accidentally, my dashboard is pretty much destroyed and I have to lay it all out again. Should we warn the user and give him/her a way to back out (but I hate modal dialogs)? Enable undo (tricky)? Remove these options entirely (but we added them for good reason, right)?

[2015-11-03 15:09] parente commented on #99
/cc @dalogsdon @jhpedemonte

[2015-11-03 15:11] #54 closed

[2015-11-03 15:27] dalogsdon commented on #99
If they are not going to be common actions, we could relegate them to a menu so it is less likely to accidentally hit.

Alternatively, I would vote for either a normal undo since the notebook already has undo functionality (and explicitly calls out what to undo in the menu, e.g. "undo delete cell") or a non-intrusive non-modal undo dialog like in Gmail:

![image](https://cloud.githubusercontent.co

[2015-11-03 15:36] jhpedemonte commented on #99
Agree with Drew: move to menus (since these are less often used) and make use of undo stack. No warning dialogs, please.

[2015-11-03 16:08] parente commented on #78
Test again. Various things have changed in dashboards (no more bower install) that might impact behavior.

[2015-11-03 16:09] parente opened #100 "Make user aware that he/she has to run notebook before deploying if using declarative widgets"
Consequence of removing the bower dependency. Specific to declarative widgets.

[2015-11-03 20:10] jhpedemonte commented on #78
On current master, we moved the imports of the Polymer elements (iron-resizable-behavior, iron-list, paper-toggle-button and paper-material) to the top of `dynamic-list.html` and `upcoming-meetups.html`.

By itself, that didn't work, since we ran into problem 2 from jupyter-incubator/declarativewidgets#22. So we added a forward slash before `urth_components`, as seen in description above.

This wo

[2015-11-03 21:03] Lull3rSkat3r commented on #78
This looks like Polymer is being loaded twice because of the multiple `dom-module` registrations. I think it is most likely a path issue with how polymer is being loaded.

[2015-11-03 22:34] jhpedemonte commented on #99
Jupyter doesn't have an undo stack. Undoing text editing (within cells) is handled by the browser itself. The only thing Jupyter seems to provide is **Undo Delete Cell**.

So if we want to handle undo/redo of Dashboard operations, we'd have to create out own undo stack. But I would advise against this and instead push for a true undo/redo system to be added to the base Jupyter code.

[2015-11-03 22:38] parente commented on #99
Punt on the undo / redo. I think that's come up a few times against the notebook proper. Moving to menu to avoid accidental click is a good first step.

[2015-11-04 15:24] Lull3rSkat3r commented on #84
We should be able to sanely achieve this by looking for anything that is an `urth-core-import` and if we find it we can copy.

[2015-11-04 15:28] #96 closed

[2015-11-04 16:13] parente commented on #78
Try testing that locally deployed dashboard outside of Jupyter as a webserver. You can try this quickly on your Mac by:

[code]

and then hit http://localhost:8000/. The dashboard should load. I'd like to see if you get the same errors or different ones.

[2015-11-04 16:16] dalogsdon commented on #60
Working on this

[2015-11-04 16:30] parente opened #105 "Replace thebe with jupyter-js-services, jupyter-output-area"
Thebe has served us really well in getting dashboards going. But it's actually built for a different use case from our own that includes showing code to users, letting users modify it, having run buttons for users to click, having open access to samples, etc. Fundamentally, we're using thebe to:

1. request a kernel
2. send code to that kernel
3. show output from that kernel (widgets, plots, text,

[2015-11-04 17:28] Lull3rSkat3r commented on #84
PR #106 will resolve this issue.

[2015-11-04 18:33] parente commented on #63
I'm going to merge the current PR to get something in to continue working through the others. But some suggestions for improvement:

Should the hint box also talk about the toolbar and how to get back to the notebook? The eyeballs (which will soon be in a menu)?

Maybe change to "hide a cell in the dashboard view" so people  don't get scared that the cell will get deleted from notebook.

Add view

[2015-11-04 18:43] parente commented on #105
/cc @dalogsdon, @jhpedemonte

[2015-11-04 18:59] #99 closed

[2015-11-04 20:39] blink1073 commented on #105
I think services is stable enough and welcome a tire-kicking.  The API of output area is under review and will likely change soon, but the functionality is there. 

On Wednesday, Nov 4, 2015 at 13:43, Peter Parente <notifications@github.com>, wrote:

/cc @dalogsdon, @jhpedemonte

—
Reply to this email directly or view it on GitHub.

[2015-11-04 21:25] parente commented on #105
@blink1073 Cool. That's helpful. We'll open defects if the js-services tires deflate upon kicking, but for output we'll hold off until the API change happens.

[2015-11-04 21:43] #84 closed

[2015-11-05 13:25] parente opened #109 "Show the meetup name to which candidates RSVPed"
Would be handy to see what meetup each candidate RSVPed for in addition to what tracked meetup they  are a candidate for.

[2015-11-05 14:00] parente commented on #63
Additional updates look good. Thanks.

[2015-11-05 14:00] #63 closed

[2015-11-05 17:15] jhpedemonte commented on #78
Updated to latest widgets and moved imports into `dynamic-list.html` and `upcoming-meetups.html`. But as advised by @deedubbu, I **did not** add a leading slash.

I no longer see the long list of errors, but the Upcoming Meetups list doesn't load correctly (when running in the notebook or deployed). It seems that it (eventually) gets the `iron-list`, but it does not load correctly with data. Talki

[2015-11-05 18:07] #60 closed

[2015-11-05 18:15] parente opened #110 "Deployed dashboard thebe url becomes blank"
Regression manifesting as thebe POSTing to the local webserver to request a kernel rather than the configured tmpnb site. The tmpnb URL is definitely being passed into initThebe, but then it seems to get "lost" somehow thereafter.

[2015-11-05 18:44] parente commented on #110
Two problems:

1. We have to call call_spawn instead of start_kernel when in tmpnb mode. This regressed when we started doing the kernel start explicitly on dashboard load for widgest (cc @jhpedemonte, @lbustelo)
2. tmpnb updated to return full URLs instead of paths. Thebe updated to account for this in late Sept. (https://github.com/oreillymedia/thebe/commit/84181868065650bfbf146442c7d250bd27cee7

[2015-11-05 19:10] #110 closed

[2015-11-05 19:19] parente opened #112 "pthread exception stopping stream in meetup stream demo"
`libgcc_s.so.1 must be installed for pthread_cancel to work`

Not sure there's anything we can do about it in the notebook / dashboard code, but what's odd is that we don't hit it in the outreach demo. Is it because the polling time is shorter?

Also, from what I can tell, that lib *is* installed in the Docker container we use for dev, so ... wut?

[2015-11-05 19:58] parente commented on #41
Merged the first PR. @Lull3rSkat3r can you add a link / section to the new index.ipynb now that it exists pointing to your notebook?

[2015-11-05 19:59] jhpedemonte commented on #100
Any suggestions on what to do here? Best I can think of is to scan page when user selects the deploy menu item, looking for Polymer widgets in the cells if the notebook hasn't been run since last edit.

Of course, not sure if all that is possible within Notebook (can we tell when notebook was last run? etc).

[2015-11-05 20:33] parente commented on #100
Could just be a doc thing too. Less magic.

[2015-11-05 22:53] jhpedemonte commented on #105
Taking.

[2015-11-06 12:23] #109 closed

[2015-11-06 15:05] Lull3rSkat3r commented on #41
@parente PR #114 includes changes for including the boilerplate in the `index.ipynb` file.

[2015-11-06 15:37] #41 closed

[2015-11-06 15:39] parente opened #115 "Publish pypi package"
Maybe should come after #49. Maybe before so that there's a release against the 3.x notebook preserved, even if it's hokey.

Regardless, we should switch to the versioning approach used by the other Jupyter projects. I've got that setup in the #93 PR already but can backport it pretty easily to master if we do the pypi first.

[2015-11-06 15:39] parente commented on #115
/cc @lbustelo

[2015-11-06 15:43] parente opened #116 "Dashboard features system test"
Declarative widgets project is close to figuring something out using Sauce Labs, Selenium, mocha, chai, etc. in a branch https://github.com/jupyter-incubator/declarativewidgets/tree/SystemTest. (Has to be a branch, not PR, for it to run properly.)

Once that lands in their master, we should mimic to get at least a minimal level of system testing (toggle to layout, click some layout options, toggle

[2015-11-07 02:33] parente opened #117 "Cleanup kernel for dashboards run within Jupyter Notebook"
Deploying completely standalone dashboards can be overweight for situations in which the notebook author wants to quickly share a series of "micro-dashboards" for a couple of trusted users (e.g., teammates) to play with. It would be nice to hand users a URL to a notebook within Jupyter and have it appear as a dashboard. We already do this somewhat with the `?dashboard` query arg which hides everyt

[2015-11-07 02:55] parente commented on #117
Another approach would be to piggyback on the "Deploy as > Local dashboard" which was originally intended for notebook authors to see what their dashboards would look like when deployed. They address all three bullets in the issue description. However, they "leak" kernels. A visit to the dashboard spawns a kernel but nothing ever cleans the kernel up when the user navigates away.

Perhaps cleanup

[2015-11-09 13:14] parente opened #118 "Python 2.7 support"
Make the extension work when the notebook server is running under Python 2.7. Will need to run the backend test suite against both on Travis. Can do this either with the python2.7 install in our dev container or outside the container like https://github.com/jupyter-incubator/kernel_gateway does.

Off the top of my head:

* Look at problems with package import changes
* Look at setup.py to see if t

[2015-11-09 15:28] dalogsdon commented on #117
Cleanup is an interesting issue. @jhpedemonte and I discussed this a little bit as we were investigating the Thebe alternative in #105. For forever-running processes, such as Spark Streaming, when do we clean up? If the main usage of the dashboard "preview" is to see the layout with less focus on actual content, then navigation away from the page could be ok.

For the deployed case, we discussed m

[2015-11-09 15:36] Lull3rSkat3r commented on #100
PR #119 adds a note about this in the README.md

[2015-11-09 15:47] parente commented on #117
Cleanup has been something we've punted to the container level with tmpnb. When the user has not had interaction with a kernel for a while, the container hosting it goes away.

I think forever-running processes are actually misplaced within the same kernel / container as the dashboard. I know we're doing that in our demos, but I want to believe we only do it for educational purposes. If we wanted

[2015-11-09 15:48] parente commented on #116
@Lull3rSkat3r said he would take a look at what jupyter-incubator/declarativewidgets is doing.

[2015-11-09 16:37] parente commented on #105
We talked a bit today about how to approach this item. I think we agreed initially we're just looking at using the new client libs, but keeping the same model thebe uses with pre tags for code in HTML. Once that's working, we can start to look at ways of keeping the code out of the frontend as part of #13 or a new issue.

[2015-11-09 20:38] jhpedemonte commented on #117
That makes sense. Our (potential) future work then would be to make those steps as easy as possible for a dev.

[2015-11-09 20:42] parente commented on #115
I'll take this to update the versioning approach and be the integration point for #118 in a 0.1.0 release.

[2015-11-09 23:02] jhpedemonte commented on #105
Currently looking at the `comm` support and working with IPyWidgets. It looks like Thebe is compiled with the IPyWidgets extension. At some point, the comm "targets" (such a matplotlib) are called so that they can register a comm channel. Currently trying to figure out how this would work with jupyter-js-services.

[2015-11-09 23:10] rgbkrk commented on #105
I'd pay attention to the new decoupling of ipywidgets, as it's targeted towards making the comms be able to live outside of notebook contexts: https://github.com/ipython/ipywidgets/pull/151

[2015-11-10 14:43] parente commented on #100
PR is in. Do we want to close with doc being the answer or leave open to find a better answer?

[2015-11-10 15:32] dalogsdon commented on #100
I think there should be something in the UI to notify the user. Probably non-intrusive, just a reminder of some sort.

[2015-11-10 15:45] parente commented on #86
Few edits to make in the PR.

@nitind, when you tested this as a deployed dashboard, did you hit it via the Jupyter `/files` endpoint? Can you try accessing the dashboard UI via an external web server like `python -m SimpleHTTPServer`? I'm wondering if everything Bokeh needs is shoved into the DOM when a cell runs or if it happens to be picking things up by virtue of the dashboard running within J

[2015-11-10 15:46] parente commented on #100
Before we do anything else, we need to know if this is a problem specific to declarative widgets or not. I really don't want to put in UI that's only there for declarative widgets when we don't have the same problem with ipywidgets or Bokeh or plot.ly or ...

[2015-11-10 17:16] jhpedemonte commented on #105
Another issue: using jupyter/jupyter-js-output-area for several output messages, including `display_data`. It handles correctly for the most part, except there is no 'transformer' for JavaScript. In our current test case using IPyWidgets, one widget sends back the matplotlib JS to be run within the browser. But `jupyter-js-output-area` doesn't handle that.

[2015-11-10 17:18] parente commented on #105
Guessing here: is that the transformime library's responsibility?

[2015-11-10 17:31] Lull3rSkat3r commented on #118
PR #122 will close this issue.

[2015-11-10 18:53] jhpedemonte commented on #105
Yes, it is -- that's where all of the transformers come from. But I don't see any mention there about adding a JavaScript transformer. At least `jupyter-js-output-area` says `// JavaScript would go here, IF I HAD ONE`.

If we want to get things rolling in the short term, may need to roll our own.

[2015-11-10 19:21] parente commented on #105
Could be this is what @blink1073 was talking about with changing output-area. @rgbkrk or @blink1073 any comments on how to proceed? We can probably do a PR for the JS renderer, but need some understanding on what you're planning to do with transformime in the long run.

[2015-11-10 20:07] blink1073 commented on #105
I believe they just haven't added support for JS rendering.  The refactor just pushes the output handling to a lower level of the jupyter-js-output API.  The proposed API is [here](https://github.com/jupyter/jupyter-js-output-area/blob/master/src/index.d.ts#L20).

[2015-11-10 21:06] rgbkrk commented on #105
Let me check that out now. Transformime can and should be able to support this directly. We didn't leave it as one of the defaults, it got implemented by @jdfreder in https://github.com/nteract/transformime-jupyter-transformers.

[2015-11-10 21:12] jdfreder commented on #105
WRT ipywidgets support, there isn't support for jupyter-js-services yet.  I'll probably end up moving to the jupyter-js-services comm API and shimming the current API (notebook compatibility), for ipywidgets 5.0 (next release) or 6.0 (depends on how much time I can allocate to 5.0).

[2015-11-10 21:15] rgbkrk commented on #105
Alright, the jupyter js output area now handles both script and svg. HTML is (mostly) ready to go, waiting on https://github.com/nteract/transformime/pull/32.

[2015-11-10 21:25] nitind opened #123 "View menu items and toolbar switcher should use consistent naming"
The text shown when hovering over the view toolbar buttons doesn't match the actions in the View menu, making it harder to understand that they do the same thing and making them harder to discuss and document.

[2015-11-10 21:25] rgbkrk commented on #105
Transformime's one and only purpose is to take a mimebundle (data + mimetype) and return an HTML Element. It chooses the richest from a collection of transforms, mostly to mirror what the current notebook (as well as sidecar, Atom notebook, and Hydrogen) does.

It occurs to me now that we'd be well served by relying on the [Blob API + URL.createObjectURL](https://developer.mozilla.org/en-US/docs/W

[2015-11-10 21:58] dalogsdon commented on #105
We see that matplotlib uses the old Comm API as well. Are there plans to update that to support jupyter-js-services?

[2015-11-10 21:59] nitind commented on #86
I had been testing it through /files, but running the built dashboard via "python -m SimpleHTTPServer" in an environment lacking bokeh and using the still-running IPython instance as its kernel server worked as intended; the plot was regenerated and reset directly as base64 image data.

[2015-11-10 22:03] parente commented on #86
Perfect. Good to know.

@lbustelo Above suggests bokeh is an example of kernel lib spewing out whatever is needed in the frontend in a way that (apparently) doesn't have a race condition.  FWIW.

[2015-11-10 22:12] parente commented on #123
@nitind want to take a crack at it? Pretty sure the toolbar items went through review and @jhpedemonte  or @dalogsdon updated the tooltips. Probably just need to change view menu to match.

[2015-11-10 22:50] nitind commented on #123
I can do that.

[2015-11-11 00:21] jdfreder commented on #105
I can't speak for matplotlib, but they'll probably wait till it's adopted in notebook stable.

[2015-11-11 16:53] parente commented on #118
Merged PR. Thanks!

[2015-11-11 19:03] parente commented on #118
Kernels don't start because of sh -> bash change. But with sh, python2 env activation doesn't work and we end up running with Python 3.

[2015-11-11 19:38] Lull3rSkat3r commented on #118
`source` is a `bash` specific command. The equivalent in plain `sh` is to use `.`. However, when you run `. activate python2` in `sh` you will see some errors and a message saying activate only supports `bash` or `zsh` (this is referenced [here](http://penandpants.com/2014/02/28/using-conda-environments-and-the-fish-shell/) as well).

[2015-11-11 20:07] parente commented on #115
Versioning and release target added. Now just pending other 0.1.0 fixes and sync with widgets release

[2015-11-11 20:24] jhpedemonte commented on #105
@rgbkrk We noticed in our tests that *maplotlib* returns it's JS with mime type `application/javascript`, whereas *transformime*'s script transform registers as `text/javascript`. Is the latter the new way going forward and *matplotlib* (and others) needs to be updated? Or should *ScriptTransform* register as `['text/javascript', 'application/javascript']`?

[2015-11-11 20:51] #86 closed

[2015-11-11 20:54] jdfreder commented on #105
@jhpedemonte definitely - https://github.com/nteract/transformime-jupyter-transformers/pull/11

[2015-11-11 21:43] dalogsdon commented on #117
Course of action based on discussion above:

1. Expose "Deploy as > Local dashboard" page as some URL
2. Start new kernel
3. Run all code
4. Kill kernel when page or websocket connection is lost

[2015-11-11 22:12] parente commented on #117
Not sure we need this one. If user has ability to log into the Jupyter server, they can just hit the URL of the locally deployed dashboard. I'm OK with the notebook author still controlling when that app is deployed.

Immediately when lost is too quick. WS disconnects happen all the time. tmpnb works on a reaping cycle after a period of inactivty.

[2015-11-11 22:23] Lull3rSkat3r commented on #118
Found a solution. The shell process which is run in the docker container will always be `bash`. The `source activate python2` will then be run in bash (if running python2, nothing will be run for python3). From here, `sh` is run to start the `ipython` process. The `sh` process will inherit the vars from the previous shell, which has the correct `PATH` for the various versions of python.

In my ori

[2015-11-11 22:50] Lull3rSkat3r commented on #118
Fix is in PR #128

[2015-11-11 23:21] #118 closed

[2015-11-12 16:39] dalogsdon commented on #117
So then this issue is just to clean up kernels spawned by locally deployed dashboards?

[2015-11-12 16:55] parente commented on #117
Yes. Either:

1. automatically, when there are no active websockets associated with a kernel for some configurable period of time
2. manually, via the Running tab in the Jupyter notebook UI

I believe the reason the kernel doesn't appear in the UI for the second approach is because there is no associated session resource. Thebe only requests the kernel, not a session to go with it (and rightly so

[2015-11-12 18:08] rgbkrk commented on #105
Ok, transformime has shipped with full HTML execution in the full global context of the notebook thanks to @karissa. I've bumped the version of transformime used in jupyter js output area here: https://github.com/jupyter/jupyter-js-output-area/pull/20

[2015-11-12 18:13] jdfreder commented on #105
jupyter-js-output-area bumped/published to 0.2.0 with the changes

[2015-11-12 18:36] #123 closed

[2015-11-12 22:43] jhpedemonte commented on #105
Thanks, gents! Have verified output-area and transformime now work as expected.

In PR #127, we've updated our Thebe-replacing code to work mostly like Thebe did, even against tmpnb. I think remaining work depends on update IPyWidgets (both for IPyWidgets and our Declarative Widgets).

[2015-11-12 22:44] karissa commented on #105
Thanks gent, @jhpedemonte!

[2015-11-13 16:45] jhpedemonte commented on #105
Apologies! Didn't fully parse rgbkrk's comment above. Thanks, @karissa.

[2015-11-13 16:59] jhpedemonte commented on #117
Regarding the **Running** tab in notebook UI: how do you feel about adding a Dashboards section there, to go with 'Notebook' and 'Terminals'? We might be able to do it as part of our extension.

[2015-11-13 17:09] jhpedemonte commented on #117
The refresh in the **Running** tab isn't extensible at all, not even by hacking. We could just add our own 'Dashboards' section and manage it ourselves. Add our own timer and event handler on the refresh button. But we may need to add an `/api/dashboards` server extension point, to query the running Dashboard kernels.

[2015-11-13 17:40] parente commented on #117
Definitely don't want to add new UI to the notebook frontpage (also called dashboard just to be confusing) given the roadmap of where things are headed with phosphor. That just introduces more things that need to be ported.

I was more wondering if, once we're based on jupyter-js-services, if we could make an /api/session request and pass along the filename of the dashboard HTML file plus a little

[2015-11-14 00:00] jtyberg commented on #52
Very nice. Using the Shift key and dragging works just fine.

The only thing I noticed is the dragging a cell is a bit laggy when I've got a lot of cells (50+) in my notebook.

[2015-11-14 00:11] jtyberg opened #130 "Select and show multiple cells at once in Layout mode"
I have a notebook with 50 cells.  I really just want to have them all show top to bottom in View mode.  I select `Cell > Dashboard > Show All Cells`, but that jumbles them all together.  Blerg.

So I revert to `Cell > Dashboard > Hide All Cells` and begin to add the cells one-by-one, because when I do this, each cell takes up the full width the way I want it.  There's only one problem, I have to c

[2015-11-14 00:36] jtyberg commented on #55
I'm not giving up on this.  Long before I decide on what few widgets/cells I want to show in a dashboard, I'm going back and forth with folks, sharing notebooks in what I call Report mode.  With a few cells in these notebooks (OK, more than 50), choosing ones to show and laying them out is a mental exercise that I do not care to embark on.  What's more, I like to just share the whole dang notebook

[2015-11-15 03:15] parente commented on #130
Wouldn't you still need to somehow indicate the N cells you want (by clicking them?) and then click one "Add All" button for N+1 total clicks?

[2015-11-15 03:21] parente commented on #13
Start of a threat analysis: https://github.com/jupyter-incubator/dashboards/wiki/Deployed-Dashboard-Threat-Analysis

[2015-11-16 01:08] jtyberg commented on #130
I had in mind the standard keyboard/mouse inputs for multi-selection.  Click to select one, scroll to bottom, press Shift key and click the bottom one.  Then click some kind of add button.  That's 4 clicks, counting the Shift key, to show all 50.

I wouldn't even mind clicking 50 times, but it's really hard the way a cell is moved from hidden to shown areas in Layout mode.  Everything gets pushed

[2015-11-16 01:21] parente commented on #130
I understand select all. I was asking about the "not adding all 50" part. Do you find you're adding contiguous runs of cells often?

The upcoming 4.1 notebook has support for multiple cell selection. We should look at what mechanism it uses and co-opt / mimic it for consistency at the very least.

[2015-11-16 01:54] jtyberg commented on #130
Agreed on multi-cell consistency with 4.1.

Basically, I find myself in this situation where pretty much the whole notebook is fair game for a report style viewing, but I haven't yet switched to the Layout mode to select any cells to show.   I don't think it's something that happens often - just the first time I want to mark all cells in the notebook as "display me" without the input/code.  Ideall

[2015-11-16 02:01] parente commented on #130
So maybe revisiting Add All / Remove All is worthwhile. Last time, we decided to keep its "dense packing" behavior for a reason I don't remember. If you could Add All and then just subtract the few you don't want, you'd have what you're asking for I think.

[2015-11-16 15:36] dalogsdon commented on #55
@jtyberg:

...

Does the `Cell > Dashboard > Show All Cells` help in this case, assuming  you mean to share every cell in the notebook?

[2015-11-16 15:39] parente commented on #55
If it changes to laying them out simply top to bottom, full width, then I assume yes. But right now, it does that dense grid packing. I think we should revisit that decision and simplify.

[2015-11-16 15:41] dalogsdon commented on #55
@jtyberg I think what you are getting at is a use case where Dynamic Dashboards is not the best tool for the job of collaborating on a notebook, since you are sharing the entire notebook and scrolling the page. I agree that numbering the cells is helpful. In my experience, a dashboard is a single-page entity (perhaps with tabs but no scrolling) meant to show a few quick pieces of information. You

[2015-11-16 15:46] parente opened #131 "Can't distinguish "no output yet" from "no output ever" in layout mode"
From working with @vinomaster on a dashboard notebook:

1. Develop a notebook.
2. Run it top to bottom.
3. Go to layout mode the first time.
4. Try to identify cells that *will* have output after some condition is met (e.g., some series of widgets are clicked) to click "+" on them and lay them out.
5. Struggle because cells that will have output are indistinguishable from cells that will never hav

[2015-11-16 15:46] parente commented on #131
/cc @jhpedemonte @dalogsdon

[2015-11-16 15:47] dalogsdon commented on #52
Yes, the layout is all absolute positioned, CPU intensive. The decision could be either to improve performance or recommend that a dashboard has less than X cells, since typical dashboards have maybe 10 at the most. Additionally, we could look into an interface such as tabbing to increase content while improving performance by moving cells to other (non-rendered) Gridstack instances.

[2015-11-16 16:31] jhpedemonte commented on #52
Performance issues may be due to translucency. One solution may be to disable that in certain cases (lots of cells, slow machine, older browser, etc).

[2015-11-16 16:57] dalogsdon commented on #131
I would say it is a requirement that the cells be run before dashboard layout is used. We could detect if anything has been run (using metadata?) and put a notice in the layout view if nothing has been run or if something has not been run.

Showing the code could be good for identification, or maybe at least a snippet. Perhaps if an individual cell has not been run, the dashboard cell can show a "

[2015-11-16 18:14] parente commented on #55
Spoke with @jtyberg about his use case. There's a bigger picture UX that spans a few issues here (#117, #130). I'm going to open a new issue to tackle just the one "report mode" piece of that big picture and try to re-couch it in terms of dashboards.

[2015-11-16 18:14] #55 closed

[2015-11-16 18:19] parente opened #132 "Cell > Dashboard > * new option"
Currently, there are two options:

* Show All Cells - densely packs all cells with output into a dashboard layout
* Hide All Cells - hides all cells

We can satisfy @jtyberg's requirement originally documented in #55 by having 3 options:

* Show All Cells (Packed) - does what it does today
* Show All Cells (Top-to-Bottom) - shows all cells, full width, in notebook order
* Hide All Cells - does wha

[2015-11-16 18:19] jtyberg commented on #55
I like to think of using a notebook in terms of phases:

1.  There's the exploratory phase where I've got cells everywhere, I'm poking at everything, and in general, making a big mess.
2. Then, once I've got my feet under me, I start to clean up a bit.  I remove all the gorp cells, and begin to tell a story within the notebook.  I don't know yet what is going to be useful or insightful.  I need th

[2015-11-16 18:24] parente commented on #131
Running all the cells is not enough. In @vinomaster's case, he has to run all cells **and** interact with every widget to ensure all output is rendered.

How about simpler: if a cell is in hidden and has no output, show its input. If the cell has output, show its output.

[2015-11-16 18:29] parente commented on #130
If #132 lands, I think there's much less of a need for multi-select right now.

[2015-11-16 19:42] dalogsdon commented on #131
Should there be a distinction if the cell has not been run? It is possible to run from layout view, but there is no indication which cell is selected.

[2015-11-16 23:03] dalogsdon commented on #117
To begin, we create a new notebook session so that the dashboard kernel shows in the Running Notebooks list.

![image](https://cloud.githubusercontent.com/assets/6362426/11197507/8dd7a2ce-8c83-11e5-9285-6c3dc4b20a82.png)

@parente We have a fallback to use kernel API directly in case the server does not have a Sessions API. We tested against tmpnb.org, but it has the sessions API since it spawns a

[2015-11-17 01:51] parente commented on #117
Nice!

Kernel gateway doesn't have a session API exposed, only kernels, because it's meant to be headless. I would claim notebook within tmpnb.org is also meant to be headless since tmpnb does the cleanup at the container level. How hard would it be to only create the session when **not** in tmpnb mode (or whatever the equivalent setting is in the new dashboard branch)?

Also, since the goal here

[2015-11-17 15:14] jhpedemonte commented on #117
Not hard. There's already a `tmpnb_mode` boolean we can use.

We can. One issue, though, is that the Notebook UI makes a link out of the path passed to the session API. We take advantage of that and use the full dashboard path so clicking on the link in the **Running** tab will correctly open the dashboard. If we add an ID, it would have to be compatible with this feature, for now. Maybe something

[2015-11-17 15:19] jhpedemonte commented on #117
Seems to work:

![screen shot 2015-11-17 at 9 19 19 am](https://cloud.githubusercontent.com/assets/711365/11215532/532922b8-8d0c-11e5-96da-66dfc51e3740.png)

[2015-11-17 15:44] parente commented on #117
Works for me, but maybe a diff arg name would be better because it's not *really* the kernel ID. dashboardid? instanceid?

[2015-11-17 15:45] jhpedemonte commented on #117
Arg, nevermind. It seems that clicking on those links opens up a URL that looks like this: `.../index.html%3Fkernelid%3D1`. Notebook is not properly unescaping.

[2015-11-17 15:46] parente commented on #117
Can you have repeat entries? If so, then forget the ID. I assumed (probably improperly) that if you had repeats of the same name, only one would show. If they all show but have the same name, that's fine. They're all indistinguishable at a "who's using it?" level anyway.

[2015-11-17 16:15] dalogsdon commented on #117
The issue with the URL encoding is that they split the URL on `/` and encode the components, but they fail to handle the `?` and `&`, so the query gets encoded.

Do we care about the actual links in this case since we only did this for shutdown purposes? Currently they will open that notebook and start a new kernel. Since duplicates are allowed in the list, this makes the only purpose of the `kern

[2015-11-17 16:47] parente commented on #117
Ah, right. Every click starts a new kernel, doesn't return you to the existing one. So, yea, in non-tmpnb mode (or whatever the new equiv is), start a session, just dupe the bare filename, every click starts a new one in notebook UI, don't bother with an ID, and the prime use we tell everyone is for the "shutdown" button.

Hacky, but that's the point. We're turning existing notebook server into a

[2015-11-17 17:03] dalogsdon commented on #117
Sorry, misread "Can you have repeat entries?" as "You can have repeat entries". Looks like duplicates are not allowed in the list. If you attempt to POST `api/sessions` with a duplicate path, it returns the existing session.

We will need to use the id. We could open an issue on notebook to encode query params properly in an attempt to get the id working. Since we cannot extend the "dashboard" (tr

[2015-11-17 17:07] dalogsdon commented on #117
Also, if we do get the links working, we could make use of the generated IDs to connect to the correct kernel if desired. Currently we store the path in local storage, so only one kernel would work on one machine (browser).

[2015-11-17 17:08] parente commented on #117
Might be a hard sell since the main use case is notebooks and they don't have query params. But a PR with the simple fix might find its way in, in the interest of further proofing.

I think this is fine for now. Especially since this PR isn't going anywhere until the thebe replacement work lands. Rather move onto other enhancements / issues.

[2015-11-17 17:16] parente commented on #78
For the record, the demo is working around this problem but elevating the dependency links to the notebook from of in the widget HTML files.

[2015-11-17 20:42] Lull3rSkat3r commented on #132
PR #134 will close this.

[2015-11-17 22:19] parente commented on #105
Thanks everyone who worked on this so far.

@jhpedemonte I agree with putting this on the shelf until declarative widgets works with notebook 4.x and ipywidgets works with jupyter-js-services release.

@jdfreder if you want / need some help with the widgets comm work, reach out. Clearly we have a vested interest. :)

[2015-11-17 22:35] jhpedemonte commented on #117
Now creating a unique session for each user (stored in localStorage).

[2015-11-18 03:24] parente commented on #115
Released first pypi package today: 0.1.0 compatible with IPython Notebook 3.2.x on Python 2.7 or 3.4+. We'll do more regular release there from now on.

[2015-11-18 03:24] #115 closed

[2015-11-18 03:46] parente opened #135 "NodeJS dashboard app backend"
The draft https://github.com/jupyter-incubator/dashboards/wiki/Deployed-Dashboard-Threat-Analysis points out a bunch of (obvious) vulnerabilities with the current dashboard implementation. Some of these can be addressed by implementing a more powerful dashboard app backend, not just a simple PHP file that renders HTML.

The details need to be fleshed out, but the gist described in the countermeasu

[2015-11-18 03:46] parente commented on #135
/cc @jhpedemonte @dalogsdon

[2015-11-18 14:47] #132 closed

[2015-11-18 16:11] parente commented on #116
Sauce and Travis were having issues yesterday, but this should be unblocked again now.

[2015-11-18 17:13] jhpedemonte commented on #131
One option: when hovering over cells, show the code, making it easier for the user to distinguish cells with no (current) output:

![screen shot 2015-11-18 at 11 03 12 am](https://cloud.githubusercontent.com/assets/711365/11248165/4aa10668-8de5-11e5-9a5e-44cc3a60d78d.png)

Biggest downside is the code would still appear under the output in some cases:

![screen shot 2015-11-18 at 11 05 15 am](http

[2015-11-18 17:15] parente commented on #131
/cc @vinomaster, @jtyberg

[2015-11-18 17:23] jhpedemonte commented on #131
To go along with my previous proposal: we currently have a toggle for the **hidden** cells to show/hide the code. We could move that up to the main dashboard as well and default to **on**, but allow the user to always hide the code if they choose.

[2015-11-18 17:35] jhpedemonte commented on #131
This is not easy to detect. For example, in the case of the taxi demo, after having run all of the cells, some cells display no output **visually**, but there is in fact DOM in the output area (waiting to be filled in, usually). I can't think of a good 100% accurate way of detecting this.

In fact, Drew and I took a stab at this a while back: when a user first goes to the Dashboard Layout view (to

[2015-11-19 16:05] parente commented on #78
Back burnering until widget defect is resolved.

[2015-11-19 16:24] parente commented on #117
Unassigning until unblocked in #105.

[2015-11-20 02:43] parente commented on #116
Works locally. Merged and works on SauceLabs. Good enough for now.

[2015-11-20 02:43] #116 closed

[2015-11-20 03:16] jtyberg commented on #131
I like this suggestion, but if it's too difficult to distinguish whether or not a cell has output, then can we make it even simpler?  If a cell is hidden, show it's input and output, if any.

Currently, seeing a ton of empty cells while scrolling through the hidden cells leaves me a bit confused.  IMHO, showing as much as possible of hidden cells gives me way more information that I can use while

[2015-11-20 03:21] parente commented on #131
And if it's in the dashboard layout but has no output, just keep it blank? I'm OK with that. Checking if that's OK with you.

[2015-11-20 03:39] jtyberg commented on #131
I guess it comes down to: should we ever show a blank cell in Layout mode.  Does a blank cell give me any information?  I think there should be SOMETHING in a cell.  I would rather see input AND output on top of each other in a cell than nothing at all.

[2015-11-20 12:44] vinomaster commented on #131
So I think @jtyberg understands the pain-points here. We are providing a Layout view whereby the user needs to distinguish what cells are shown or hidden and where they go in the dashboard layout. This is impossible without some type of identifier.

Ideally the ability to name cells would be nice. This is exactly what Excel users do when they need to reference a cell. Cleary this is a Jupyter core

[2015-11-20 20:02] jhpedemonte commented on #131
There seems to be some slight confusion with my proposal above. I've attached some animated GIFs to better help explain:

### Show code in dashboard area

![cell-code-hover](https://cloud.githubusercontent.com/assets/711365/11307009/05d6fb4a-8f7b-11e5-8fe3-71973dccd481.gif)

In the **main dashboard area**, when a user hovers over the whole area (not just individual cells), then the code for each c

[2015-11-20 21:33] jtyberg commented on #131
@jhpedemonte animated GIFs FTW!  I like the behavior.

In the spirit of my previous comment (a blank cell doesn't tell you anything), is it worth considering showing the code in hidden cells by default?  Or is there a downside to doing so?

[2015-11-23 12:58] parente commented on #49
Merged into master on Friday after lots of manual demo testing plus all green on Travis.

[2015-11-23 12:58] #49 closed

[2015-11-23 16:04] jhpedemonte commented on #131
Now that I think about it, it doesn't really help to hide the code in the hidden area. So maybe we can change to just always show the code in the hidden area and remove the **Show/Hide code** button.

The only change I would consider making is to cap the height of the code/input areas, so the hidden area isn't terribly long. We just want to show the user enough to know what each code is.

@parente

[2015-11-23 16:16] parente commented on #131
:yes: to always show the code in hidden. :yes: to capping the input height so that the hidden area doesn't become unwieldy and hard to drag from in layout mode.

[2015-11-23 16:18] dalogsdon commented on #131
Always showing the code in the hidden area is OK. Since the hidden cells are pretty small vertically, should we:
1. make the code be scrollable
2. make hidden cells have a default height but also a little bit larger max height
3. leave it
?

[2015-11-23 16:19] parente commented on #131
I'm OK with any implementation of "capping the height" I think.

[2015-11-23 17:37] parente commented on #13
Wiki page now has diagrams for current state of affairs and what things might look like after the first round of countermeasures are implemented. Feedback / edits greatly appreciated.

[2015-11-23 20:09] parente commented on #100
Update on this: Bokeh doesn't have this problem in @nitind's demo. Bokeh has to be pip installed and thereafter it spews the necessary JS into the DOM when the cells execute. The notebook doesn't have to be run ahead of time.

[2015-11-30 14:26] parente opened #141 "Dress-up the scotch demo to be more of an introduction"
Got this request offline. Two tasks:

1. [x] More detail in the current dashboard demo notebook `scotch_dashboard.ipynb`. Walk-through how it is put together. Add markdown comments about what exactly the code is doing. Mention how to switch to dashboard layout view to arrange the cells. At the very bottom of the existing notebook, include a link to the next notebook which shows how to recreate exa

[2015-11-30 15:39] parente opened #142 "Update deployment code to support ipywidgets=4.1.0 base requirement in decl widgets"
decl widgets are now using ipywidget 4.1.0. Thebe is pre-built with a version of ipywidgets < 4.0.3. The first problem here is that the widget module extension path has changed from `widgets/notebook/js/extension` to `widgets/widgets/js/extension`. We can try a AMD mapping in the `converter/static/main.js` to see if substituting 4.0.3 is good enough to appease the decl widgets for now. If not, we

[2015-11-30 19:19] parente commented on #142
Problem was deeper than originally thought. The built copy of thebe uses the miniature almond loader to define `define`, `require`, etc. within a closure. Any JS code executed by a `%%javascript` cell in a notebook gets `eval`'ed within the closure and so picks up the modules included in the `thebe-main.js` build.

The declarative widgets are initialized by the dashboard code using RequireJS that

[2015-12-01 01:32] parente opened #144 "Minimum height cells overlap in layout mode"
To reproduce:

1. Add two cells to the layout, one atop the other.
2. Size the top cell to be as short as the drag allows you to make it.
3. Note the overlap like in this screenshot.

<img width="439" alt="screen shot 2015-11-30 at 9 56 50 am" src="https://cloud.githubusercontent.com/assets/153745/11485838/7979385a-9783-11e5-96bb-49724345e72a.png">

[2015-12-01 04:51] jonmoore opened #145 "Installation failure on OS X in Canopy venv"
When trying to install to a fresh venv, created with canopy_cli venv from the current Canopy (1.6.1) and populated only with the latest pip, setuptools and jupyter, I get the following error:

[code]

[2015-12-01 12:32] parente commented on #145
The latest stable release (jupyter_dashboards 0.1.0) is only compatible with IPython Notebook 3.2.x. We're going to cut a 0.2.0 release of the extension this week which is Jupyter Notebook 4.0.x compatible.

Did you pip install from pypi or from the master branch source tree?

[2015-12-01 13:53] parente opened #146 "Backfill system tests"
@Lull3rSkat3r did a nice job getting a test harness all setup to do UI system tests. He even seeded a set of utilities and basic examples. But we didn't want to spend the cycles at that time improving the test coverage over all the features.

Now that the UX for layout and preview within the notebook is settling down, it might be worthwhile backfilling the system test suite in a few areas.

* [ ]

[2015-12-01 13:58] parente commented on #131
I merged the current PR after testing to avoid having new conflicts crop up. The hidden cell area changes can be put in via a second PR.

[2015-12-01 16:50] #142 closed

[2015-12-01 18:52] #131 closed

[2015-12-01 19:44] dalogsdon commented on #144
This looks like a problem with Gridstack resizing. We set the minimum cell height to be 2 rows, and we also style a minimum height for a dashboard cell to be the same height as 2 rows. Somehow Gridstack is setting a cell height to 1 row, and our minimum height causes it to overflow causing the overlap in the screenshot above.

This is difficult for us to reproduce as it seems to be working properl

[2015-12-01 19:54] dalogsdon commented on #144
We are able to reproduce with a new notebook.

Looks like a problem only the first time viewing the dashboard layout. Somehow the setting for minimum height is not set properly.

[2015-12-01 20:29] dalogsdon commented on #144
More precisely, the `data-gs-min-height` attribute was being set on a cell after being added to the dashboard rather than before. This had the effect of causing new and newly re-added cells to have this problem.

[2015-12-01 22:56] dalogsdon commented on #135
Status update:

We have a node app that can intercept WebSocket messages and renders the dashboard. No code is sent to the client. Markdown cells are rendered. We are currently working on the code execution to send the execution results to the client.

[2015-12-02 13:19] parente commented on #145
Version 0.2.0 of the extension is now out and compatible with 4.0.x of Jupyter Notebook.

[2015-12-02 13:27] parente commented on #13
Work on #135 and #105 move the ball forward on deploying more secure dashboards outside of the Jupyter Notebook application (e.g., code no longer in HTML, only comm channel messages allowed after initial execute, user login to dashboard app, API key from dashboard backend to kernel provider, ...).

Work on #117 starts to make it slightly less hacky to manage kernels for dashboards deployed right w

[2015-12-02 14:58] jonmoore commented on #145
Thanks, I hadn't noticed the version requirement in 0.1.0, and 0.2.0 is working now for me with Jupyter 4.0.x.

[2015-12-02 14:58] #145 closed

[2015-12-05 00:04] thibaudh opened #150 "Links/user interactions across dashboards"
I would like start a discussion on a potential new feature: linking dashboards with each others through user interactions. For instance, when the user clicks on one column of a bar chart in dashboard A, I would like to open dashboard B in another tab with a pre-filled textfield matching the column clicked. This open the door to creating small apps from a set of dashboards.

From discussions with @

[2015-12-05 03:03] parente commented on #150
Thanks for opening this to start the discussion.

I'm not sure the widgets need to change at all. Since the second notebook will need to execute top-to-bottom anyway, it can easily include code that reads URL parameters and sets widget state. If patterns become apparent, then may be there's something that can be done in the declarative widgets to simply further.

This part worries me the most. Wha

[2015-12-05 03:27] jtyberg commented on #150
Well, it's an interesting idea.  I ran across a situation recently where we built two dashboards with some overlapping functionality.  We're now merging the two into a single dashboard.  What worries me about this is now the single notebook becomes a development environment for what is becoming a full-fledged web app, and now it literally has more widget markup than python code.  So yeah, the noti

[2015-12-07 01:38] parente commented on #130
@jtyberg interested in hearing whether this is needed anymore now that `Show all (stacked)` exists.

[2015-12-07 02:04] parente commented on #135
Opened the https://github.com/jupyter-incubator/dashboards_node_app repo where this work should be delivered. Something we should discuss: do we want to use the issue tracker over there or just keep everything here so we don't have to hop all over?

[2015-12-07 02:45] parente commented on #135
Another thought, too. As I understand it, the new node app just points to a notebook as the source of the code to execute on the kernel. But if that notebook uses any declarative widgets, it's going to need to package those too. This is really a bundler problem, but it does place one requirement on the node app: it has to have a directory for static web assets that it will serve up. The bundler or

[2015-12-07 14:35] jtyberg commented on #130
I have used the new Show All (Stacked) feature, which is great.  I agree, this feature does not seem necessary now that I can stack my cells all at once.  (I can't think of a time that I've needed it in the past few weeks).

[2015-12-07 14:42] parente commented on #130
OK. Will close for now and reopen in the future if the need arises.

[2015-12-07 14:42] #130 closed

[2015-12-07 15:55] dalogsdon commented on #135
I think we should start tracking over there since there are already multiple unwritten issues to tackle. I'd rather do a little bit of hopping initially than read through a long discussion on this high-level issue.

[2015-12-07 16:49] parente commented on #135
Works for me. :+1:

[2015-12-07 17:05] dalogsdon commented on #150
I think these comments are reaching for something broader than dashboards. From these comments as well as discussions in other issues it is becoming clear that Dynamic Dashboards + Declarative Widgets are exposing a desire/need for rapid web app development using the notebook.

A dashboard is a specific type of app (single-page, single kernel), and there are certainly broader use cases like those

[2015-12-07 21:19] rgbkrk commented on #135
You all move so fast and so well.

[2015-12-08 02:19] parente commented on #135
Opened https://github.com/jupyter-incubator/dashboards_nodejs_app/issues/1 over in the new repo. It lists the items for the initial implementation. I'll open a few more issues about implementing the other minor improvements noted here.

Going to close this one out since there's nothing else to do in this repo (or shouldn't be).

[2015-12-08 02:19] #135 closed

[2015-12-08 02:21] parente commented on #135
@rgbkrk :coffee: and :computer:s!

[2015-12-08 03:14] parente commented on #105
jupyter-incubator/dashboards_nodejs_app#1 and jupyter-incubator/dashboards_bundlers#3 will track the continuation of this work form here on out.

This issue is crosslinked like mad so we don't lose the history.

[2015-12-08 03:14] #105 closed

[2015-12-08 03:15] parente commented on #100
I think the doc is as good as we're going to get for now. As we started to refactor this repo to split out the bundling aspects, this issues belongs over in `dashboards_bundlers` instead. I suggest we close it here and later reopen the issue over there if it becomes a problem for users.

[2015-12-08 03:19] parente opened #151 "Extract then remove conversion / bundling code"
Remove all bundling / conversion related code from this repo once the following items land, **minimally**:

* [x] jupyter-incubator/dashboards_bundlers#1 (*Deploy as -> Local Dashboard*, still using Thebe)
* [x] jupyter-incubator/dashboards_bundlers#5 (*Download as -> PHP Dashboard bundle (.zip)*, still using Thebe)
* [x] jupyter-incubator/contentmanagement#20 (*Download as -> Notebook bundle (.zi

[2015-12-08 03:24] parente commented on #117
This work is now part of jupyter-incubator/dashboards_bundlers#3. The associated PR #127 can remain open here until we no longer need it.

[2015-12-08 03:24] #117 closed

[2015-12-08 14:34] aruizga7 opened #152 "I install but 'Dashboard view' not available in the Notebook (4.1?)"
I installed pip install jupyter_dashboards and restarted and when I open the Notebook, I have the Deploy options in the File menu but I do not have the 'Dashboard view' in the View menu.

See here in the video the problem: http://recordit.co/br6CwoFc6I

How can I activate the dashboard view? Thanks

[2015-12-08 15:23] parente commented on #152
Thanks for the repo. Can you let me know what version of Jupyter Notebook you're running? It's in the help menu once you open a notebook.

[2015-12-08 15:38] aruizga7 commented on #152
Hi, I am using the following: https://hub.docker.com/r/jupyter/notebook/
I am running 4.0

[2015-12-08 15:42] parente commented on #152
I believe that image is actually built from the jupyter/notebook master branch which means it's a dev image. (@minrk is that right? If so, we should figure out a way to indicate it's building from master.)

Looking at your video, I notice the toolbar looks like it does in the upcoming 4.1 release which we haven't tested against yet. That's probably the source of the bug. We'll need to update to be

[2015-12-08 20:57] aruizga7 commented on #152
Hi, I have the following docker:
https://github.com/jupyter/docker-stacks/tree/master/datascience-notebook

When I execute 'pip install jupyter_dashboards' and I get the following error:

![dashboardsjupyter](https://cloud.githubusercontent.com/assets/3798276/11668276/f35fbb7e-9dbb-11e5-838e-b9da3d1fb24e.PNG)

Any idea? Thanks!

[2015-12-09 13:19] parente commented on #152
The docker stacks images create a profile for user `jovyan`. When you run as root, there's no profile and the install fails. It probably shouldn't fail, and I'll open a bug about that, but in either case, you'll want to run the `pip` command as `jovyan`.

More info here about how the docker image is configured: https://github.com/jupyter/docker-stacks/tree/master/datascience-notebook#notebook-opti

[2015-12-09 13:20] parente opened #153 "setup.py should use ConfigManager / jupyter_notebook_config.json"
See discussion in #152. Either change setup so that it creates an initial config file if one does not exist, or have it fail with a human readable error. The latter might be preferred in case the user does not know he/she is installing as the wrong user.

[2015-12-09 13:21] parente commented on #153
/cc @lbustelo because I bet declarative widgets have the same issue.

[2015-12-09 20:53] parente commented on #152
@aruizga7 and I had an out-of-band chat. The one-liner to get things going without requiring a new Dockerfile

[code]

Fun eh?

![](http://i1000.photobucket.com/albums/af128/LanningCk/Gifs/explain.gif)

For posterity? Sure!

The dashboard extension currently includes a new tornado handler. The addition of this new handler requires a restart of the jupyter notebook server to take effect. When we're

[2015-12-09 20:53] #152 closed

[2015-12-14 22:23] RonnyPfannschmidt opened #155 "installing inside a virtualenv drops random data into my home folder"
seriously, wtf - thats a no go

[2015-12-14 22:56] Lull3rSkat3r commented on #155
@RonnyPfannschmidt, what is created in the home folder (Source files, bower components, etc.) ?

[2015-12-14 23:36] RonnyPfannschmidt commented on #155
Afair the bower components
Please avoid overriding the install command, that workflow will be removed from python packaging

[2015-12-14 23:43] parente commented on #155
If it's the JS parts of the extension, we're calling the Jupyter API for installing extensions to get that put in place:

https://github.com/jupyter-incubator/dashboards/blob/master/setup.py#L29

I did just test it in an virtualenv and noticed that it still prefers to write to the user home directory (in a subpath). Even if we stop overriding the install command, that extension method is still goi

[2015-12-15 01:43] parente commented on #13
https://github.com/jupyter-incubator/dashboards/wiki/Deployment-Roadmap published and posted to the google group. Lots of other issues opened leading to minimally secured, deployed dashboards.

[2015-12-15 13:02] parente commented on #155
Notebook ref: https://github.com/jupyter/notebook/issues/331

[2015-12-15 15:23] #100 closed

[2015-12-16 01:03] parente commented on #153
Fixed by #156

[2015-12-16 18:32] parente commented on #153
Reopening.

In the associated PR, I switched over to using the ConfigManager class to add the server-side extension to `jupyter_notebook_config.py`. All seemed to be working well until @jtyberg tried to install both `jupyter_dashboards` (using the JSON config) and `jupyter_declarativewidgets` which uses the old "hack" of append `c.NotebookApp.server_extensions.append('blah')` call to the end of `j

[2015-12-16 21:12] parente commented on #153
/cc @lbustelo

[2015-12-16 22:33] parente opened #158 "Notebook 4.1b1: Dashboard toolbar does not appear"
Not sure yet if this is a dashboards incompat or a bug in notebook-4.1.0b1:
[code]

causes:

![screen shot 2015-12-16 at 5 33 46 pm](https://cloud.githubusercontent.com/assets/153745/11855919/2fcc74e8-a41b-11e5-9de1-b9805be225e2.png)

/cc @Carreau

EDIT: screenshot of JS console instead of ugly copy/paste

[2015-12-16 22:34] parente opened #159 "Notebook 4.1b1: jqueryui -> jquery-ui"
Need to update the mapping in our dashboard main.js. The alias under which notebook loads the library has changed.

[2015-12-22 17:09] Carreau commented on #158
Sorry I missed the Ping.

[2015-12-22 17:11] parente commented on #158
Not a problem. Could be our stuff. Quick glance before I have to run til tonight: the function invocation doesn't seem to match anything in the current doc about how to add toolbar buttons, so I'm leaning toward "it's us". I'll dig in later and ping back.

[2015-12-22 17:31] Carreau commented on #158
1) I get a problem, where my local install try to load `requirejs-text/text.js.js` with 2 `.js`, which is easy to get around.

2) I investigate the second bug now

[2015-12-22 17:43] Carreau commented on #158
Found bug. Will issue PR.

[2015-12-22 20:06] parente commented on #158
Was just sitting down now to work on this. Thanks for beating me to it! Glad it wasn't upstream in notebook.

[2015-12-25 13:34] SimonBiggs opened #162 "Broken link in the binder app"
Within the try it example found at:
http://mybinder.org/repo/jupyter-incubator/showcase

The "Introduction to Dashboards" link is broken:
http://app.mybinder.org/3477095624/notebooks/dashboards/index.ipynb

[2015-12-26 02:29] parente commented on #162
I've had this happen a few times where, apparently, the binder image gets rebuilt using only the requirements.txt file instead of the Dockerfile. As a result, none of the demo notebooks get cloned in from the other repos.

I'm not sure if it's some auto rebuild every time binder gets redeployed or the base image updates or someone goes to the binder site to rebuild it incorrectly. At any rate, I m

[2015-12-26 02:29] #162 closed

[2015-12-26 09:06] SimonBiggs commented on #162
Weird, thanks for that. :)

[2015-12-26 09:58] SimonBiggs opened #163 "Associations link broken within binder app within index.ipynb"
Associations demo link bug has not carried through into the binder app demo.
The notebook here:
http://app.mybinder.org/2562667438/notebooks/dashboards/index.ipynb
Has the following link:
http://app.mybinder.org/2562667438/notebooks/dashboards/associations_demo/associations_demo.ipynb

This was fixed in the following commit however is not fixed in the binder app:
https://github.com/jupyter-incubat

[2015-12-28 13:56] parente commented on #159
@SylvainCorlay added a `*` entry to map in https://github.com/jupyter/notebook/commit/f32651e202e9cbc74a18f9e40c7ab1e243026435#diff-be52173cd4d2fe20f84df2ee8da7071dR45 to retain backward compatibility with the old name. Unfortunately, it looks like requirejs doesn't know how to recursively apply its maps when we add our own mapping for Gridstack here: https://github.com/jupyter-incubator/dashboard

[2015-12-28 14:45] #158 closed

[2015-12-28 15:51] #159 closed

[2015-12-28 15:58] parente commented on #153
Reverted to old technique to retain compat across the incubator projects. Will open PRs across all the associated repos switching them en masse to JSON config at a later date.

When notebook 4.2 is out with an even better nbextension install story, we'll move to that as part of the fix for issue #155.

[2015-12-28 17:16] parente commented on #163
The binder base image uses IPython Notebook 3.2.x. Only the 0.1.x series of releases of this extension are compatible with that version of notebook. The fix for the notebook name came after that point.

As a quick fix, I can modify the Dockerfile over in showcase to correct the path. Longer term, we'll benefit from Binder moving to Notebook 4.x (which would allow us to install our newer versions w

[2015-12-28 17:41] parente commented on #163
I stand corrected: the notebook fix is in the 0.1.1 release too. It was cherry-picked across so the commit SHA linked above doesn't show it in the 0.1.x branch.

I bumped the dashboards and declarativewidgets package versions in the showcase to 0.1.1 and rebuilt the binder. All set for now.

[2015-12-28 17:41] #163 closed

[2015-12-30 22:16] parente commented on #151
Extracted to other packages as noted. Released those packages. Ready to merge here and release 0.3.0 as best I can tell.

[2015-12-30 22:16] #151 closed

[2016-01-04 14:25] parente commented on #153
With 0.3.0 out, there's no longer any server-side extension to configure in this repo. All we need to handle is JS install which will be addressed in #155.

[2016-01-04 14:25] #153 closed

[2016-01-04 14:39] parente commented on #155
Work is underway to provide a common way of doing nbextension installs and configuration in notebook 4.2: https://github.com/jupyter/notebook/issues/878. Not clear yet if this is going to allow notebook to discover JS extensions and config beyond `~/.jupyter` and `~/.local/jupyter` or not.

In the meantime, we will:

1. Only install the assets to the proper Python prefix on pip install.
2. Impleme

[2016-01-11 22:00] parente commented on #155
Implemented the install vs activate separation across various repos:

* jupyter-incubator/contentmanagement#24
* jupyter-incubator/dashboards_bundlers#7
* jupyter-incubator/kernel_gateway_bundlers#2

[2016-01-11 22:09] parente commented on #155
@nitind if you could give the new README steps in PR #166 a try and one of the others linked here, that would help. Mostly looking to confirm that (1) it works for someone else and (2) that you can decode the extra steps in the README.

[2016-01-13 01:11] parente commented on #141
@aluu317 Can you add a pointer to the new notebook in the etc/notebooks/index.ipynb file? It's sort of a table of contents of all of our demos.

Probably put it in the widgets section with a short blurb about how it differs from the basic one? (Or whatever you think is appropriate.)

[2016-01-14 02:05] parente commented on #141
Thanks.

[2016-01-14 02:05] #141 closed

[2016-01-14 07:39] nitind commented on #155
@parente I found PR #166 to have pretty clear instructions for when it's available through pip (that the pip install doesn't also install it into Jupyter takes a moment to think through and understand). It took a bit longer to test with the pull request itself, but I was able to install without automatically activating the extension, and activate and deactivate the extension properly.

[2016-01-14 12:53] parente commented on #155
Thanks for testing @nitind. We'll synchronize a release across all the above real-soon-now.

[2016-01-15 16:45] parente opened #170 "Use new non-global UrthData.setItem API"
When https://github.com/jupyter-incubator/declarativewidgets/issues/147 lands, we need to update the sentiment demos to use the new, non-global channel APIs in JavaScript.

/cc @lbustelo @deedubbu

[2016-01-19 16:49] deedubbu commented on #170
Investigating now as I have a pull request (jupyter-incubator/declarativewidgets#179) being reviewed in the declarative widgets project.

[2016-01-19 17:16] parente commented on #170
Thanks @deedubbu . Doing a global search on all the demo notebooks, I only saw the old API used in 2 of them and there in limited fashion. It's probably a simple swap-out.

[2016-01-19 22:10] parente commented on #144
It's back!

![screen shot 2016-01-19 at 5 09 21 pm](https://cloud.githubusercontent.com/assets/153745/12433513/79c2f9ae-becf-11e5-87a6-8785f5faf956.png)

[2016-01-20 15:17] Lull3rSkat3r opened #173 "`urth-timeline` in sentiment boilerplate does not have `start_date` and `end_date` properties"
This causes the timeline to not be rendered when the cell is run. The community sentiment notebook does this and can be used as a reference.

[2016-01-20 15:20] parente commented on #173
If this is relatively easy to fix, would be good to get it in for 0.4 release real-soon-now so that it lands on the updated jupyter.cloudet.xyz site.

[2016-01-20 15:48] parente opened #174 "Hide widget warnings / errors"
Dashboards should css hide all warning messages when in dashboard mode. Otherwise, we get ugly pink boxes like the one here: jupyter-incubator/declarativewidgets#164.

[2016-01-20 19:47] dalogsdon commented on #174
Should be an easy one to knock out, just got to hide `.output_stderr` elements when in dashboard view.

[2016-01-20 20:10] dalogsdon commented on #174
PR #176 will hide the pink warning box. Exceptions will still appear like this though:

![image](https://cloud.githubusercontent.com/assets/6362426/12461605/68a8d700-bf7f-11e5-9c41-f50387ad8df8.png)

If you want to get rid of those in the dashboard view, we can hide them too.

[2016-01-20 20:12] dalogsdon commented on #174
Also, didn't notice the assignee was set, sorry for stealing the issue ;)

[2016-01-20 20:24] dalogsdon commented on #144
Hehe, same flipping of lines needs to occur in another function.

[2016-01-20 20:28] parente commented on #174
Go ahead and push that as a PR too. (It ain't stealing if you're fixing things!)

[2016-01-20 20:56] #170 closed

[2016-01-21 13:12] #144 closed

[2016-01-21 16:00] #155 closed

[2016-01-21 18:26] parente commented on #174
The version that went in only applies to dashboard view within Jupyter Notebook. Need to move to `dashboad-common.css` so that it works when deployed too.

[2016-01-21 19:48] parente commented on #174
Not easy to fit into common because:

- deployed dash doesn't use `grid-stack-item` class
- layout / preview modes do use `grid-stack-item` for cells in the dashboard flow
- layout / preview does not use it for cells that are hidden

Assuming we want to see the stderr/exceptions down in the hidden cells, there's no rule that handles all the cases correctly and does so without introducing specific

[2016-01-21 19:48] #174 closed

[2016-01-25 17:29] Lull3rSkat3r commented on #173
@parente, it looks this was a timing issue. The code that initializes those variables, if they are note set is found [here](https://github.com/jupyter-incubator/dashboards/blob/master/etc/notebooks/sentiment_boilerplate_demo/widgets/urth-timeline/urth-timeline.html#L158). Closing this as invalid.

[2016-01-25 17:29] #173 closed

[2016-01-29 18:49] parente commented on #150
Updated on this convo: This request will be handled outside the notebook by the way `dashboards_nodejs_app` is implemented. You can push two or more notebooks to a single instance of that server and have them refer to each other by relative paths.

Within the notebook server, this still remains an open question.

[2016-01-29 18:50] parente commented on #112
This bug has gone away in newer docker-stacks builds. Not sure what fixed it, but now there's simply a stack trace from tornado instead of a crash.

[2016-01-29 18:50] #112 closed

[2016-01-29 18:52] parente commented on #13
I've been scratching things off the roadmap as we make progress. Most of the remaining work is in in the `jupyter-incubator/dashboards_nodejs_app` repo at this point. We're living at the bleeding edge there trying to use jupyter-js-widgets, phosphor-widget, etc. which are still largely being defined as part of the Jupyter Lab work. Might take some time to stabilize.

[2016-02-05 16:30] aiguofer opened #181 "404 GET ..../bower_components...."
I installed this using `pip` as explained in the `README`. Unfortunately, when I load a notebook I get some messages like:

[code]

Changing some lines in `.local/share/jupyter/nbextensions/jupyter_dashboards/notebook/dashboard-view/dashboard-view.js` to:
[code]
seems to fix the problem (I just removed the `.js` extensions).

I'm not sure why I have to do this? I imagine it's working as is for oth

[2016-02-05 16:36] parente commented on #181
Hi @aiguofer. Can you confirm that you ran the `jupyter dashboards` commands after the pip too to activate the extension?

[2016-02-05 16:39] aiguofer commented on #181
@parente I ran `jupyter dashboards activate`

[2016-02-05 16:50] parente commented on #181
And the `jupyter dashboards install` before that? There's 2 commands after the pip. (Sorry if this is a dumb question.)

[2016-02-05 16:53] aiguofer commented on #181
@parente yep, ran `jupyter dashboards install --user --overwrite`

[2016-02-05 16:56] parente commented on #181
OK. Something going on. Can you share a bit more about your environment? What version of Jupyter Notebook for instance?

I just tried here in a fresh conda environment and didn't hit the issue. So I suspect it's something in the environment:

[code]

Here's my pip freeze:

[code]

[2016-02-05 17:08] aiguofer commented on #181
I have this all installed with pyenv locally:
[code]

[code]

[2016-02-05 17:23] aiguofer commented on #181
Possibly related, `jupyter_dashboards_bundlers` is also not working for me. I did:

[code]
but the options don't show up under the File menu.

[2016-02-05 17:25] dalogsdon opened #182 "Styling: Cell selection is visible in dashboard view"
With notebook server v 4.1.0 there is new styling for cell selection, a blue bar on the left side:

<img width="787" alt="nb-cell-selected" src="https://cloud.githubusercontent.com/assets/6362426/12853678/0a127da8-cbfb-11e5-9189-3ce4b20a3871.png">

We don't hide that in dashboard view, so clicking a cell shows the blue bar:

<img width="782" alt="db-cell-selected" src="https://cloud.githubusercont

[2016-02-05 22:54] dalogsdon commented on #182
Grabbing this one.

[2016-02-06 03:56] parente commented on #181
Did you build the source/dist bundle yourself and install that? Or did you install the latest stable version released on PyPI?

[2016-02-06 04:16] #182 closed

[2016-02-07 21:02] parente commented on #181
Not able to reproduce with a fresh pyenv either. :/

[code]

It seems like a requirejs with a different behavior for `require.toUrl` is getting picked up from somewhere. It's 2.1.22 in the latest stable release. A fresh checkout and `make js` pulls the same version. And we're both on 4.1 of the notebook, so even requirejs is getting pulled from there, it would match.

I'm stumped.

[2016-02-08 20:38] parente opened #186 "Incorrect urth-core-function syntax in meetup-streaming"
Code cell #4 needs to adapt to the new arg syntax like so:

[code]

[2016-02-08 20:38] parente commented on #186
@nitind can you make this simple change and send a PR when you get a minute?

[2016-02-08 21:19] aiguofer commented on #181
I'm installing latest from PyPI with pip... this is really strange, tracing the code in the browser shows me it's using 2.1.22 require.js. I'll try to find more from the browser console and report what I find.

[2016-02-08 21:44] nitind commented on #186
Opened PR#187.

[2016-02-08 21:53] parente commented on #181
To get stranger: what browser are you using?

[2016-02-09 16:41] aiguofer commented on #181
This happens in both firefox 44 and chrome 48 on Fedora 23.

So I think I've found where the problem lies. Could you help to see if you get the same?

Debugging with Chrome, if I set a conditional breakpoint in line 1667 of `require.js` (the line is `url += (ext || (/^data\:|\?/.test(url) || skipExt ? '' : '.js'));`) with condition `url.indexOf('requirejs-text') > -1`, I see this function getting

[2016-02-09 17:04] aiguofer commented on #181
hmmm, from reading their [documentation](http://requirejs.org/docs/api.html#config-paths) it seems like the right way to do it is excluding the extension, although I've never used `require.js` myself. It's still strange that we're getting different behaviors.

[2016-02-10 18:09] parente commented on #186
Fixed in PR #187.

[2016-02-10 18:09] #186 closed

[2016-02-10 18:10] parente commented on #181
@aiguofer I think I tried excluding the extension and got the opposite error, that `gridstack.min` could not be found for example. But I'll try it again.

Agreed it's strange that the behavior is different regardless.

[2016-02-10 21:10] dalogsdon opened #188 "Scroll bar appears on text cell header"
Seen in [dashboard_nodejs_app / simple notebook](https://github.com/jupyter-incubator/dashboards_nodejs_app/blob/master/data/simple.ipynb). The heading text is perfectly sized to cause a scroll bar to render. Mouse over the text hides the scroll bar. Seen in Chrome and Safari. In Firefox, the text wraps on mouse over, hopefully the solution to the scroll bar can fix that as well.

In notebook, the

[2016-02-12 20:45] kdietrich commented on #18
Use `make_widget` to add a widget to gridstack without creating the DOM element.

[2016-02-12 20:49] parente commented on #18
troolee/gridstack.js#264

[2016-02-15 01:41] parente commented on #181
Re-confirmed that if I remove the `.js` extensions:

<img width="1102" alt="screen shot 2016-02-14 at 8 38 59 pm" src="https://cloud.githubusercontent.com/assets/153745/13038040/04560300-d35b-11e5-8444-cd539a491eb2.png">

Exactly the opposite behavior of @aiguofer.

I went to reproduce the debugging steps but found that line 1667 is not the same as the one reported above. Deepens my suspicion that

[2016-02-15 01:50] parente commented on #181
When I do break on line 1655 in my clean master branch, I see exactly one call for the `require-text/text` module with `ext=true` and `skipExt=true`.

[2016-02-15 21:56] aiguofer commented on #181
hmm, do you have [IPython Notebook Extensions](https://github.com/ipython-contrib/IPython-notebook-extensions) installed? that might have something to do with it.

[2016-02-15 21:59] parente commented on #181
I'm testing this in a clean jupyter profile and clean browser with no other extensions for Jupyter or Chrome running. Do you have anything else installed? Could be we have a bad interaction.

[2016-02-16 15:57] aiguofer commented on #181
I just tried running it with a fresh pyenv, clean jupyter profile, only jupyter and jupyter_dashboards installed, and opening it in an incognito chrome window with all extensions disabled and I'm still getting the same error. I'm stumped....

The only 2 `require.js` files in that pyenv are:
[code]

Both files are the same, and I still see that same line at line `1667`

[code]

[2016-02-16 16:01] aiguofer commented on #181
When you're looking in your browser console, what version is listed on the comments at the top of `require.js`?

[2016-02-16 16:39] parente commented on #181
Using a fresh notebook server from the tmpnb site we run (http://jupyer.cloudet.xyz) as a reference instead of my local box this time.

Can you try using one of the samples there too if you haven't already, just to confirm it's an install problem not a browser problem at runtime? Here's a link directly to the notebook I used to test. When you visit it, tmpnb should assign you a new notebook server

[2016-02-16 17:26] aiguofer commented on #181
Interesting, that site is working just fine for me. The main difference I see when tracing through is that in my local version it's not appending `?v=<timestamp>` to the `text.js` file.

Here's a diff of our `pip freeze` output:
[code]

[2016-02-16 21:10] jhpedemonte commented on #181
@aiguofer Can you please try this:

[code]

[2016-02-16 22:57] jhpedemonte commented on #18
Using `make_widget` instead of `add_widget` will work, but there isn't yet a solution to destroy the Gridstack object without also destroying the DOM to which it is attached (see my comment [here](https://github.com/troolee/gridstack.js/issues/216#issuecomment-184909273)).

[2016-02-17 01:18] parente commented on #18
OK. We'll keep tracking.

[2016-02-17 02:54] aiguofer commented on #181
that works! :+1:

[2016-02-17 03:21] parente commented on #181
So it's the `?v=<timestamp>` that was killing us (or the lack thereof). Ugh.

Thanks for bearing with us @aiguofer. Good catch @jhpedemonte. If you submit it as a PR, we'll get it into 0.4.2 along with that one other styling bug fix (if it's reasonable to do that one too).

[2016-02-17 17:25] #181 closed

[2016-02-17 19:25] jhpedemonte commented on #18
Can't yet remove our `destroy` workaround.  A different approach would be to disable Gridstack when we are not using it, then reuse existing Gridstack when going back to dashboard mode.

One issue is that this approach would complicate our code. For one, we would need to keep track of cells added in the Notebook mode. There were some other issues that I can't recall at the moment. That's why we we

[2016-02-17 21:18] #17 closed

[2016-02-17 22:00] dalogsdon opened #191 "Background code in layout view overflows cell slightly"
![image](https://cloud.githubusercontent.com/assets/6362426/13126309/85d04aea-d58f-11e5-865b-81587bc5d351.png)

[2016-02-18 16:48] dalogsdon commented on #188
The scroll bar no longer shows in Chrome or Safari. However, the wrapping on hover is still happening in Firefox.

Looks like it is the `.anchor-link` on the `<h1>` element. It is initially set to `visibility: hidden` so it is still taking up space and causing the text to wrap. I suspect it was behind the scroll bar appearance as well. We were only setting it to `display: none` on hover, so we sho

[2016-02-18 23:55] jtyberg opened #194 "Cell bounding box ignored in Layout view"
I'm trying to arrange some visible cells in Layout view, but I'm seeing some strange behavior with one cell in particular.  It's as though the bounding box for the cell is unknown (or being ignored).  So when I try to arrange it, other cells are not pushed down to make room for it, which causes cells to overlap.  When I try to resize it, it just snaps back to original size.

![dash_bbox_issue](htt

[2016-02-19 00:03] jtyberg commented on #194
I just tried hiding the cell, then adding it back as a visible cell, and the problem "fixed" itself.  Grr?

[2016-02-19 01:39] parente commented on #194
I've seen this before and I've never found a way to reproduce it reliably.

We're going to cut a 0.4.2 release soon with a new version of gridstack. Let's keep this open and see if it surfaces again. If it does, I suspect it's a timing issue with computing the position of cells as the notebook is flipping over to layout mode. We've addressed a few of these in the past. There might be one lurking.

[2016-02-19 01:47] #188 closed

[2016-02-19 02:05] #191 closed

[2016-02-24 19:42] jhpedemonte opened #197 "Upgrade to Gridstack 0.2.5"
I'm upgrading to a 0.2.5 pre-release version of Gridstack as part of PR #196. There are some changes coming in 0.2.5 that we need to handle:

Some other changes to consider (see 0.2.5 changelog):

[2016-02-24 20:44] jhpedemonte commented on #18
Opened PR #196 to track updating Gridstack to a version that doesn't require us to monkey patch `destroy`.  However, I found there is still a bug when removing an individual cell -- see [this discussion](https://github.com/troolee/gridstack.js/pull/361#issuecomment-188438005) for more info.

[2016-02-29 17:35] parente opened #198 "Dragging to edge of browser does not scroll browser"
Try to drag a cell past the bounding box of the current browser viewport in a large dashboard that extends past the browser view. The browser viewport does not scroll. Have to drop the cell, manually scroll the browser, pick it up again, drag, repeat.

[2016-02-29 17:42] parente opened #199 "More options for plus button when adding cell to layout"
New options. Could be implemented in a drop down from the + icon on each cell.

* Add to top of layout (full width bottom row, default)
* Add to top of dashboard layout (full width top row)
* Add to relative notebook position

Last one is tricky because what if the user has put a cell that appears lower in the notebook flow higher in the dashboard flow than other cells? Maybe the algorithm can be:

[2016-02-29 17:43] parente commented on #199
/cc @jhpedemonte @jtyberg @dalogsdon

[2016-02-29 17:44] parente commented on #198
/cc @jtyberg @jhpedemonte @dalogsdon

[2016-03-03 16:20] jhpedemonte commented on #18
Gridstack cut an official 0.2.5. Some highlights (from quick perusal of commits):

[2016-03-07 23:22] dalogsdon opened #200 "Bokeh demo error when doing `run all`"
The default behavior of Bokeh is to load JS resources from a CDN when running `output_notebook()` with no arguments. This causes a comm-related error when `show()` is run before the JS files are loaded.

One solution is to put Boken in inline mode using `output_notebook(bokeh.resources.INLINE)` or setting the environment variable `BOKEH_RESOURCES=inline` when running the notebook server. See https

[2016-03-08 15:55] dalogsdon commented on #200
I tried setting the environment var `BOKEH_RESOURCES=inline` when running `make dev` and that did work.

[2016-03-08 16:07] parente commented on #200
Can we just update the notebook to do `output_notebook(bokeh.resources.INLINE)`? Easier if it's right there inline and explicit instead of something that has to be done in the environment.

[2016-03-08 16:29] dalogsdon commented on #200
We can update the notebook, and we should document it somewhere, perhaps a plotting section of the README or a wiki page.

[2016-03-08 17:39] parente commented on #200
No one will find it on a wiki. And I don't think this is a problem specific to dashboards. The doc for Bokeh must have it.

For our part, how about we just mention it in the notebook itself?

[2016-03-08 18:41] dalogsdon commented on #200
Definitely mention in the notebook.

[2016-03-09 17:00] #200 closed

[2016-03-11 21:14] parente commented on #197
/cc @dalogsdon

[2016-03-11 21:44] dalogsdon commented on #197
FYI: Dashboards server updates Gridstack to 0.2.5 in https://github.com/jupyter-incubator/dashboards_server/pull/140 due to missing npm dependencies for 0.2.4.

[2016-03-15 16:25] dalogsdon opened #202 "Multiple pasted cells get the same layout"
This seems like a notebook bug/behavior related to cell metadata.

1. Create a notebook cell. I used Markdown to easily keep track of the cells.
2. Copy and paste the original cell 2 times so there are 3 total notebook cells. Edit each copy to keep track of which cell is which.
3. Enter Dashboard Layout view and edit each cell to be a different width.
4. Switch back to Notebook view and observe ea

[2016-03-15 16:31] parente commented on #202
Interesting. Wonder if this is a notebook bug then. @Carreau , any thoughts?

If not, we'll simply have to make sure cell layouts aren't identical when switching to dashboard mode, and warn users to do it before saving and exiting.

[2016-03-15 16:35] jhpedemonte commented on #202
I wonder if this isn't an issue in our dashboard extension, where we reference a metadata object and copy/paste just copies the reference rather than the object. Therefore, all of the copied cells reference the same underlying metadata object, causing the issue you describe.

[2016-03-15 16:38] parente commented on #202
Well, yes. I guess I'm asking if that's an expected notebook behavior or not, shallow or deep copy. The note @dalogsdon made about viewing the object first seems to suggests the behavior is at least inconsistent.

[2016-03-16 14:40] dalogsdon commented on #198
This was really bugging me yesterday when I tried to make a long dashboard to test page height.

[2016-03-16 22:10] dalogsdon commented on #198
Looks like I can add some edge scrolling code using a Gridstack 'drag' event handler the same way we add the 'dragstop' handler in [dashboard.js](https://github.com/jupyter-incubator/dashboards/blob/master/jupyter_dashboards/nbextension/notebook/dashboard-view/dashboard.js#L173).

[2016-03-17 19:01] jhpedemonte opened #203 "Add additional view: "report" (stacked)"
We currently support creating a **grid-based layout**. But we've noticed that in some situations, this is not what is required for the dashboard. We need some additional views which are either more simplified or provide different functionality:

1. **Report mode**: a simple view which shows cells in notebook order, single column and full width. The only action available to the user is whether to s

[2016-03-17 19:22] parente commented on #203
/cc @jtyberg

[2016-03-17 19:23] parente commented on #203
Multi-page might also address #150 in a different manner than originally proposed.

[2016-03-17 19:54] jtyberg commented on #203
Report mode.  :joy:

[2016-03-17 19:59] parente commented on #203
Because it :hurtrealbad:.

[2016-03-18 22:37] dalogsdon commented on #198
This is getting a little bit complicated due to the notebook structure. The main difficulty is that the element that scrolls is `#site` while the Gridstack content is 4 levels down in `#notebook-container`. Several containers in this hierarchy are absolutely sized to give the desired notebook layout and scroll functionality. This structure causes some issues.

1. Gridstack uses jQuery UI draggable

[2016-03-21 19:30] dalogsdon commented on #198
Came across [this jQuery UI doc](http://api.jqueryui.com/draggable/#event-drag) for draggable event. Looks like I can use the `ui` object for custom position setting. It only seems to be mentioned in the 1.11 docs, but it seems to work in 1.10.

[2016-03-22 12:34] #198 closed

[2016-03-23 22:14] dalogsdon commented on #199
I did the algorithm as outlined above with the exception of 3. I don't think it is necessary to search in reading order. Just searching in DOM order should be sufficient, so we will insert the cell below the closest previous sibling.

[2016-03-24 16:54] dalogsdon commented on #199
Add buttons look like this now:

<img width="141" alt="screen shot 2016-03-24 at 11 53 03 am" src="https://cloud.githubusercontent.com/assets/6362426/14024453/18880b3c-f1b7-11e5-8632-d0d7be45728a.png">

[2016-03-24 18:29] dalogsdon opened #206 "Multi-page layout"
#203 introduces a second dashboard layout: report. Another layout we should offer is the multi-page layout:

[2016-03-24 18:33] dalogsdon commented on #206
From https://github.com/jupyter-incubator/dashboards/issues/203#issuecomment-198045445:

[2016-03-24 18:34] dalogsdon commented on #203
I moved multi-page to #206 per offline discussion with @parente. This issue will deal with the support of multiple dashboard layouts as well as the first of the new layouts: report.

[2016-03-24 20:20] parente commented on #203
Maybe you discussed with @jhpedemonte options that would be valid in this mode. It's probably just add to flow and remove from flow by clicking the + / X in the top right of the existing cells?

[2016-03-24 20:24] dalogsdon commented on #203
Yes, that exactly.

[2016-03-25 00:02] parente commented on #203
Exactly that? YES!

[2016-03-28 17:53] dalogsdon opened #207 "Newly added cells should be inserted in notebook order"
From https://github.com/jupyter-incubator/dashboards/pull/205#issuecomment-201970944:

[2016-03-28 17:55] dalogsdon opened #208 "Dashboard layout cells should have "move" buttons"
From comments in #205:

[2016-03-28 17:56] dalogsdon commented on #208
I agree that it should include top and bottom, but does it make sense to also include notebook cell order once a cell is already somewhere in the dashboard?

[2016-03-28 17:59] dalogsdon opened #209 "Scroll added/moved cells when appropriate"
From https://github.com/jupyter-incubator/dashboards/pull/205#issuecomment-201970944:

[2016-03-28 20:41] parente commented on #208
Good point. I can't think of a situation where I put it in notebook order, then somehow it gets out of order, and I have to put it back.

[2016-03-28 20:42] parente commented on #209
Makes sense to me. Doc them in the More Info?

[2016-03-28 21:15] #199 closed

[2016-03-29 22:12] parente commented on #208
I think we should retarget this and the other minor tweaks to 0.5. We're not in a dire rush to release at the moment.

[2016-03-29 22:13] parente commented on #203
Since this is going to re-use the gridstack work, I think we can target to 0.5.0. Multipage can stay with 0.6.0 since it's a bigger jump.

[2016-03-29 23:26] dalogsdon commented on #203
I used this task to update `dashboard-actions.js` to support multiple layouts and to move metadata manipulation into its own module `dashboard-metadata.js`.

I added an additional view for the report layout:

![image](https://cloud.githubusercontent.com/assets/6362426/14126984/5e60a6c4-f5da-11e5-9f43-080be4a8837b.png)

![image](https://cloud.githubusercontent.com/assets/6362426/14127003/703042ce-f

[2016-03-30 16:17] Carreau opened #210 "Prevent Dashboard from attacking people in their dreams."
CC @parente sitting just next to me, who knows what I'm talking about and challenged me to open an issue.

----

Observed behavior: Wake up at 5am, all sweating, scared of dashboard.
Expected behavior: Sleep until 7-7:30 well rested.

---

Will understand if bug is closed with "cannot reproduce".

[2016-03-30 16:21] parente commented on #210
Need steps to to reproduce.

[2016-03-30 16:54] Carreau commented on #210
All might not be relevant but:

- Attend dev meeting for 2 days.
- Socialise the first with food and drink in the evening,
- Attend meetup second day with food and drink
  - Meeting should demo a bit of dashboards.
- Go to bet at 10,
- Fall asleep,
- Get nightmares,
- Wake up at 5am.

[2016-03-30 20:05] dalogsdon commented on #210
![image](https://cloud.githubusercontent.com/assets/6362426/14155774/c917cb10-f688-11e5-862c-81277fc62663.png)

[2016-03-30 20:07] jhpedemonte commented on #210
I really hope @parente or @Carreau show this during a presentation at the dev meeting.

[2016-03-30 20:08] Carreau commented on #210
No worries, it's on twitter: https://twitter.com/ProjectJupyter/status/715269379697475584

[2016-03-30 20:12] Carreau commented on #210
![qvfv1o4](https://cloud.githubusercontent.com/assets/335567/14156001/15c91c3a-f679-11e5-8ecd-ba1f9dc10eaa.gif)

[2016-03-30 20:14] parente commented on #210
Thanks for the steps to reproduce. Will try this evening and report back.

[2016-03-30 20:30] dalogsdon commented on #203
Discussed with @jhpedemonte about the toolbar button group for layout selection. We decided it would be good to have three buttons as previously: Notebook, Authoring, and Preview. The center Authoring button would have a dropdown to select the layout, and the Preview would automatically show the correct layout based on the Authoring selection. This allows for easy layout addition (multi-page) and

[2016-03-31 14:55] parente commented on #206
Hold off on this one for now.

[2016-03-31 18:59] #210 closed

[2016-03-31 21:31] Carreau commented on #210
Thanks ! I slepped better. Was probably a race condition.

On Thu, Mar 31, 2016 at 11:59 AM, Peter Parente <notifications@github.com>
wrote:

[2016-04-04 15:46] dalogsdon commented on #203
Toolbar looks like this now:

![image](https://cloud.githubusercontent.com/assets/6362426/14253742/4aea2616-fa52-11e5-9a26-4710f338d823.png)

Unfortunately the notebook toolbar addition is for basic button groups, so I had to switch to manually creating the HTML and appending to the toolbar.

[2016-04-04 22:51] dalogsdon commented on #208
Corner of cells is now like:

![image](https://cloud.githubusercontent.com/assets/6362426/14266443/dd650fc0-fa8d-11e5-8614-f3bf48edcf52.png)

[2016-04-05 12:18] #208 closed

[2016-04-05 12:21] parente commented on #208
Merged the PR with the move top / bottom buttons. I think I was wrong about leaving out the move to notebook position option for 2 reasons:

1. If I accidentally click top/bottom, I have to hide the cell in order to get the button to appear to get it back into notebook position.
2. The asymmetry of options bothers me.

No need to tackle for now. Let's leave it as-is and see if anyone reports the m

[2016-04-07 19:01] rsdenijs opened #214 "Simple shareability of dashboards"
I have been longing for something like this for so long!

Is there any way to make the dashboards shareable by url so that a colleague can play around with the widgets without having to worry about executing the code in notebook mode and then switching to the dashboard?

[2016-04-07 19:09] parente commented on #214
Hi @rsdenijs. There's a few different ways of "sharing" that we're working on:

- Storing all the dashboard layout info in a notebook file which you can send to another user who can load it in jupyter, run it, and flip to dashboard view (not what you asked for, I know)
- Deploying dashboards as static web apps within the Jupyter notebook server itself (works, but not very secure)
- Deploy dashboar

[2016-04-07 23:25] rsdenijs commented on #214
Thanks, I think the scenario from the deployment roadmap and the demo in
https://camo.githubusercontent.com/a6772aa57bf0596518c24f06b7125a9341b75062/68747470733a2f2f69626d2e626f782e636f6d2f7368617265642f7374617469632f66746a6979746e6d6a61626636617767396f7879776f7367706271396f3966642e676966
comes really close to what I need. I hope to be able to get it working!

[2016-04-08 21:40] jhpedemonte commented on #214
That linked GIF shows using the [dashboards bundler](https://github.com/jupyter-incubator/dashboards_bundlers) extension deploying to the [dashboards server](https://github.com/jupyter-incubator/dashboards_server) (the 3rd bullet @parente listed above).

[2016-04-08 22:03] bryevdv commented on #200
FYI: possibly relevant: https://github.com/bokeh/bokeh/pull/4144

[2016-04-12 02:47] parente opened #215 "Support new nbextension installation on 4.2"
Beta is out:

https://groups.google.com/forum/#!topic/jupyter/RTdb1_k7l0A

Doc on what to do:

https://jupyter-notebook.readthedocs.org/en/latest/examples/Notebook/Distributing%20Jupyter%20Extensions%20as%20Python%20Packages.html

Make sure we retain compatibility with 4.1 and lower. Will need two sets of instructions in the README. Should also make the 4.1 install/activate automation a bit less b

[2016-04-14 16:26] kubark42 opened #216 "Demo links broken"
Hi--

All the demo links in https://app.mybinder.org:80/2428215814/notebooks/index.ipynb go to 404 pages. Thoughts?

[2016-04-14 16:32] parente commented on #216
It seems that the binder image gets rebuilt automatically at times, or by someone who doesn't configure it properly with the Dockerfile option. Unfortunately, there's no access control on who can rebuild in binder yet.

I'll go kick off a rebuild (or you can! :) ). Alternatively, you can use http://jupyter.cloudet.xyz.

[2016-04-15 14:05] #215 closed

[2016-04-18 14:52] parente opened #219 "Selenium tests failing"
They only run against master, not PRs, because of what the service supports. It's been failing since the docker image went to a newer version of notebook. Must be a UI change.

[2016-04-19 02:54] #203 closed

[2016-04-19 12:40] #219 closed

[2016-04-19 12:40] parente commented on #216
The jupyter-incubator/showcase binder image has been rebuilt. I've also added a note in the README there about using the alternative or contacting us to rebuild it if it happens again.

Thanks for the report!

[2016-04-19 12:40] #216 closed

[2016-04-19 12:41] parente commented on #214
@rsdenijs Please let us know if you do get it working or not. Feedback is always welcome.

[2016-04-19 12:55] parente opened #222 "Missing cell decorations in report mode"
1. Create a brand new notebook
2. Create 3 cells
3. Click the dropdown in the toolbar and report layout button
4. Hover cells and note there's no buttons.

If you go to grid mode first instead, then the buttons appear.

[2016-04-19 12:56] parente commented on #222
@dalogsdon Probably a quick fix. Missing some init path for report mode vs grid.

[2016-04-19 13:25] rsdenijs commented on #214
Thanks. I havent found the time to try it out yet. When I try ill let you know about my experience.

[2016-04-19 14:42] parente opened #223 "Missing notebook level metadata"
cellPadding, etc. and whatever else we should be supporting. It seems to have gone away with the new report mode.

[2016-04-19 15:23] dalogsdon commented on #222
When doing the report layout on `test_no_layout` I get an error that it is attempting to access dashboard metadata for a cell. I can add in some more error checking to the metadata code to resolve cases like this.

[2016-04-19 16:26] #222 closed

[2016-04-19 23:28] #223 closed

[2016-04-20 15:18] marqh commented on #214
Hi @parente

I'm similarly interested in building dashboards that we can share with interested colleagues.  I have a couple of follow up questions, if I may

Do you think this plays nicely with the Jupyter Hub?
This provides a front end authentication option, including federated auth, which could drastically increase the level of security, if i understand the issues correctly.

If I have a dashboa

[2016-04-26 11:54] parente commented on #194
I believe this is caused by refreshing the page when in dashboard preview mode (i.e., when `?dashboard` is on the end of the URL). I hit it multiple times when testing the PRs for #55 . I also haven't seen it again after those PRs went into master, even when refreshing in dashboard view many times and switching between layout, preview, and notebook.

The report mode implementation refactored and i

[2016-04-26 12:02] parente commented on #214
@marqh Sorry for the delay in responding.

This was discussed recently at a Jupyter dev meeting. Making it possible to share dashboards within the JHub security envelope is on the roadmap as supporting a dashboard view-only mode within the Notebook server itself. See https://github.com/jupyter/roadmap#dashboarding. However, JHub support is just a glimmer of an idea at the moment.

It helps somewha

[2016-04-26 14:51] dalogsdon commented on #194
Indeed I encountered this during report layout work and fixed a few issues that were causing this behavior. Unfortunately I did not note them nor do I remember how to reproduce.

[2016-04-26 16:59] tobinthecloud opened #228 ""make dev" doesn't work out of the box on Ubuntu"
I'm very excited about this project. In particular, I'd like to figure out how to integrate it into the Google Cloud Datalab effort.

As a starting point, I'm just trying to build / deploy the repo following the README.md instructions. When I get to "make dev," I get a "Permission Denied" error from the container. After doing a bit of digging around, it appears that it's because I'm not jovyan. If

[2016-04-26 17:14] parente commented on #228
@tobinthecloud Thanks for reporting the problem. I'm surprised that you're not jovyan in the container after running `make build js dev`. You're using the Docker image referenced in the Makefile without changes correct?

[2016-04-26 19:17] tobinthecloud commented on #228
Sorry. :/ Something must be wonky with my desktop docker install. I created a VM from scratch, did a clean install and everything works fine.

[2016-04-26 19:17] #228 closed

[2016-04-26 19:28] parente commented on #228
Not a problem. If you do end up using this in Google Cloud Datalab, please let us know!

[2016-04-27 15:20] parente commented on #78
This probably warrants retesting both with:

1. Local deploy
2. Dashboard server

A short writeup on what works and what doesn't still is the first step. Might be a decl widgets issue still or might be a bundlers / dash server issue.

[2016-04-29 01:29] parente opened #229 "Incorrect popup behavior in scotch decl widgets demo"
All of the options appear in one unselectable blob. I'm assuming it's an API change.

![screen shot 2016-04-28 at 9 27 57 pm](https://cloud.githubusercontent.com/assets/153745/14906317/2afb47ba-0d88-11e6-8eae-8fc6d3a2ace8.png)

[2016-04-29 01:29] parente commented on #229
/cc @aluu317

[2016-04-29 01:39] parente opened #230 "Missing history window slider in sentiment demo"
Doesn't render at all. Probably decl widgets 0.5.0 incompatibility (though I think it's been broken for a while).

![screen shot 2016-04-28 at 9 39 07 pm](https://cloud.githubusercontent.com/assets/153745/14906465/bc47f69a-0d89-11e6-8f61-806eb2b1228c.png)

[2016-04-29 01:40] parente commented on #230
/cc @Lull3rSkat3r

[2016-04-29 19:24] aluu317 commented on #229
I don't have authorization to assign this to myself, but I'm looking at this now..

[2016-04-29 20:07] parente commented on #229
Oh sure. I wasn't in a rush to do it. Just a fyi when you've got a chance and want to look.

[2016-05-02 19:11] parente opened #231 "Notebook with report layout opens with button set to grid"
1. http://jupyter.cloudet.xyz/
2. Make a new notebook
3. Put print('hi') in a cell
4. Switch to **report** layout
5. Save
6. Refresh
7. Toolbar defaults to grid layout

Tested with v0.5.0

[2016-05-02 19:11] parente commented on #231
/cc @dalogsdon

[2016-05-03 18:12] mrfrank8176 opened #232 "unable to export dashboard bundle"
Using Jupyter 4.2, I have followed the install instructions for the dashboard bundler and I am able to execute the installation with pip without error. When I run a jupyter notebook, I am able to edit the Dashboard layout and preview. However, there is no option in the notebook to export or save the dashboard as a bundle for stand-alone deployment. How can I enable this feature? Thanks.

[2016-05-03 18:20] parente commented on #232
Can you provide the commands you ran to enable both the dashboard layout extension and the bundlers? The full setup requires something like:

[code]

[2016-05-03 18:42] mrfrank8176 commented on #232
That did it! I needed the cms setup. Thanks for the quick help.

[2016-05-03 18:44] parente commented on #232
No problem. I'll open an issue in the bundlers repo about updating the README. Cheers!

[2016-05-03 18:44] #232 closed

[2016-05-04 15:44] parente opened #233 "Cells are lost from report layout after refresh"
Will provide reproducible test case and animation soon. Just noting that I hit the bug working on a notebook that I can't share.

[2016-05-04 16:06] parente commented on #233
![lost-report](https://cloud.githubusercontent.com/assets/153745/15020596/ad117014-11f0-11e6-8346-4fcfa6ec8653.gif)

[2016-05-04 16:11] dalogsdon commented on #233
It must still be auto-hiding for empty cell outputs. It should respect previously set layout. If the cell has dashboard metadata we should not do auto-hide if empty.

[2016-05-04 18:20] dalogsdon commented on #233
@parente I am not able to reproduce. Do you have the latest changes? I notice when you refresh the default layout shows the grid icon rather than the report icon. Do you have the fix for #231?

[2016-05-04 19:14] parente commented on #233
Same on master HEAD.

![lost-report](https://cloud.githubusercontent.com/assets/153745/15026144/f079f6d6-120a-11e6-892f-3da1387365dd.gif)

[2016-05-04 21:07] nitind commented on #233
Grid layout info was also removed, most of the metadata stopping with the `dashboard` sections being emptied, but present, on every cell.

[2016-05-04 22:13] nitind opened #235 "Layout information is lost when flipping between Grid and Report layouts"
Switching between grid and report layouts wipes irreversibly loses the layout information, not even preserving which cells should be visible or hidden. At the least, whether a cell is visible or not should me maintained.

[2016-05-04 23:16] parente commented on #235
This was discussed and is actually "by design" at the moment. As we look at cleaning up the metadata we track in the notebook going forward, we should be able to solve this cleanly. In the meantime, if anyone has a quickfix for retaining the `cell.metadata.urth.dashboard.layout` object between mode flips without having to change code everywhere that assumes the layout is reset, we should put it in

[2016-05-05 01:08] #202 closed

[2016-05-05 01:09] parente commented on #194
I've not hit this since 0.5.0, and not for lack of trying. I think it's now safe to close. We'll reopen if it reappears.

[2016-05-05 01:09] #194 closed

[2016-05-05 14:37] dalogsdon commented on #235
We could save the previous layout information in `dashboard-metadata.js` when setting the `dashboardLayout`. Currently when the layout is set to a new value it clears all the metadata, wiping the layout.

[2016-05-05 14:59] jhpedemonte commented on #235
What about only carrying over whether a cell is hidden or not, since that applies to both layouts?

[2016-05-05 16:27] parente commented on #235
@nitind and I tried the obvious thing of leaving layout intact, but then hit issues with other parts of code seeing "layout" in place and screwing up. For example, start with report, leave empty layout intact, switch to grid. Grid puts all the cells full width. Try to drag them and they're totally screwed up and overlap.

I'm OK delaying this until we improve the metadata spec which should account

[2016-05-05 16:29] nitind opened #236 "Layout visible cells are hidden when cut and pasted."
Issue https://github.com/jupyter-incubator/dashboards/issues/202 saw us remove the layout information on cells that were copied to the clipboard, so that when pasted, they didn't result in duplicated layout information requiring manual correction by the user. The notebook's `cut_cell` function, though, is literally calling the copy and delete functions rather than doing something unique, so is als

[2016-05-05 18:23] #229 closed

[2016-05-10 13:08] #230 closed

[2016-05-10 13:08] parente commented on #230
Was closed by PR.

[2016-05-10 15:01] nitind commented on #78
Executing in the notebook, polymer.html itself raises status 404 errors for /urth_components/iron-list/iron-list.html, urth_components/paper-toggle-button/paper-toggle-button.html, and /urth_components/paper-material/paper-material.html.

Locally deployed, meetup-outreach is initially disabled by https://github.com/jupyter-incubator/dashboards_bundlers/blob/master/dashboards_bundlers/local_deploy/

[2016-05-10 20:11] dalogsdon opened #239 ""Show code on hover" always checked on switch to authoring view, but not always working"
1. Switch to authoring view, see "show code on hover" checked
2. Un-check "show code on hover"
3. Switch to notebook view, then back to authoring view
4. "Show code on hover" is checked again, but hover doesn't show the code
5. Un-check and then re-check the button and observe hover code is now visible

Either the code should be shown on hover in step 4 or the button should retain its state (if un

[2016-05-10 20:44] dalogsdon opened #240 "Switch to specific cell in dashboard authoring view"
We currently have an "edit" button on dashboard cells when arranging the dashboard layout. This button transitions back to notebook view with the specific cell highlighted. We do not have the inverse, for example a button on a notebook cell that switches to dashboard authoring view with that cell highlighted. This button could only appear if a dashboard layout has already been created.

While work

[2016-05-10 21:38] nitind commented on #78
When deployed locally, it's still 404s for /files/local_dashboards/meetup-outreach/static/urth_components/iron-list/iron-list.html as well as urth_components `paper-toggle-button/paper-toggle-button.html` and `paper-material/paper-material.html`.

[2016-05-11 01:39] parente commented on #78
Hm. Shouldn't be. Either the old version with the old path should work or the new one. Else we've got a backward compat bug that we shouldn't have.

I believe the README for decl widgets 0.5.2 says it will only work with ipywidgets 5.1.x and up. Our dev containers are still using ipywidgets 4.x and I think the README in bundlers says thebe only works with 4.x anyway.

[2016-05-11 01:52] parente commented on #239
In the PR, I went with resetting the checkbox to checked whenever the mode changes for consistency with everything else that gets reset to the defaults.

[2016-05-11 03:36] parente opened #242 "urth-widget-error appears in dashboard"
display: none when in dashboard preview

[2016-05-11 11:54] parente opened #243 "Remove urth, support v1 metadata spec"
* [x] Remove all urth references in CSS classes and whatnot
* [x] Adopt v1 metadata spec when https://github.com/jupyter-incubator/dashboards/wiki/Dashboard-Metadata-and-Rendering is finalized
* [x] Decide if/how to support "upgrading" from v0 to v1 metadata in notebooks

DO NOT add any new user-facing features (e.g., NO multi-layout support). This is a cleanup and switcheroo only.

[2016-05-11 13:48] parente opened #245 "Bump dev environment to notebook 4.2-based docker-stack"
jupyter/all-spark-notebook or pyspark-notebook tag 401575ede910 or newer. https://github.com/jupyter/docker-stacks/wiki/Docker-build-history

[2016-05-11 16:26] #242 closed

[2016-05-11 18:08] nitind commented on #78
Once properly deployed, aside from a logged "Uncaught TypeError: Cannot read property 'register' of null", the dashboard works properly both deployed locally and on the dashboard server.

[2016-05-11 19:34] #239 closed

[2016-05-11 20:15] nitind commented on #78
Closing after manual test.

[2016-05-11 20:15] #78 closed

[2016-05-12 01:06] parente opened #247 "Consider webpack for frontend assets"
As I watch all the bower components components scroll by when we install our extension, I wonder if we should be using webpack to simple it down to just one AMD JS file. Or, at the very least, filter out things we don't need when we build our pip package.

[2016-05-12 14:48] dalogsdon commented on #247
We could remove bower and have an npm script to webpack rather than bower install. It can get confusing having 2 dependency files (bower.json and package.json).

[2016-05-12 14:53] jhpedemonte commented on #247
I'm down with this, although probably split into two:

1. small JS file which initializes extension and updates menus
2. larger JS file which is loaded on demand when user starts using dashboards

[2016-05-12 15:23] parente commented on #247
I'm leaving this out of 0.6.0 for now until we have a better sense of how much effort it will take to do the metadata switchover which is more important. If that goes smoothly and we have cycles, we can look at this too.

[2016-05-13 20:15] dalogsdon opened #248 "Grid: Hide cell doesn't save grid metadata"
`notebook-metadata.save()` will copy gridstack data from cell attributes to cell metadata. The save function is called on various actions done on the grid cells, but not on cell hide. To reproduce:

1. Create a grid layout dashboard with a full-width cell at the top
2. Hide that top full-width cell
3. Immediately either save the notebook or deploy to dashboard server
4. In the notebook file, notic

[2016-05-13 20:45] parente commented on #248
What does "incorrect" mean here?  I see an empty layout object but everything else seems fine.

If that's incorrect, then this is due to the 11th hour fix I had to put in for report mode layouts going lost. We agreed presence of `layout` is the flag (for the time being) meaning that a cell has been seen by the layout extension in the past and should not be automatically laid out again. This fixed

[2016-05-13 20:49] parente commented on #248
Nevermind. I see the problem now. It's not the cell that was hidden that has the wrong metadata. It's the ones below it that get recomputed but not saved.

[2016-05-13 20:57] dalogsdon commented on #248
Yes, sorry, the cells still in the grid have the wrong position values.

[2016-05-16 15:28] parente opened #249 "Update all demos for 0.6.0 decl widgets compatibility"
* [x] Manually init the widgets (see https://github.com/jupyter-incubator/declarativewidgets/pull/295)
* [x] Put a markdown note in every demo notebook about what version it's compatible with

[2016-05-17 12:04] parente commented on #243
https://github.com/jupyter-incubator/dashboards/wiki/Dashboard-Metadata-and-Rendering#spec-v1-draft is done. We can / should start seeing what it takes to switch real soon now.

[2016-05-18 00:44] parente commented on #249
0.6.0.dev0 is out in order to test this work. Requires rebundling of notebooks using decl widgets. The docker-compose dev setup in https://github.com/jupyter-incubator/dashboards_setup will help here.

[2016-05-18 14:57] #248 closed

[2016-05-24 15:29] parente commented on #13
A "final" update on our mini-roadmap: https://github.com/jupyter-incubator/dashboards/wiki/Deployment-Roadmap

Returning to the original list of items in this issue:

jupyter/kernel_gateway supports token auth.

jupyter-incubator/dashboard_server has a pluggable auth model based on passportjs (https://github.com/jupyter-incubator/dashboards_server/wiki/Authentication)

jupyter-incubator/dashboard_

[2016-05-24 15:29] #13 closed

[2016-05-25 16:07] parente commented on #243
Re: the metadata, the jury is still out on whether the folks want `metadata.extensions.your_app` or just `metadata.extensions`.

[2016-05-25 18:19] dalogsdon opened #253 "Hide all then show all cells removes all cells (report layout)"
1. Create a report layout dashboard
2. Hide all cells using the menu item or by hand
3. Use the 'show all cells' menu item. All cells are no longer rendered.

[2016-05-25 20:51] parente commented on #253
Confirmed. Switching back to notebook mode and then to layout again fixes the rendering.

[2016-05-27 20:40] dalogsdon commented on #243
Doing the upgrading should be a simple matter of copying over existing data when initializing the metadata structure then deleting the old data.

[2016-05-28 02:07] #245 closed

[2016-06-01 15:15] parente commented on #249
Does it make sense to do the try/except around these like in bundlers?

[2016-06-01 16:25] jhpedemonte commented on #249
Depends on how much backwards compat we want. Since we're not at 1.0 on delcwidgets, I was only coding for latest.

[2016-06-01 19:02] dalogsdon commented on #243
One benefit of this is that we no longer clobber layout data when switching between grid and report layouts.

[2016-06-02 01:41] parente commented on #253
Fixed by #254.

[2016-06-02 01:42] #253 closed

[2016-06-02 01:42] parente commented on #235
Fixed by #254.

[2016-06-02 01:42] #235 closed

[2016-06-02 01:51] parente commented on #243
I think we can close this one. We'll open others as needed.

[2016-06-02 01:51] #243 closed

[2016-06-02 19:13] jhpedemonte opened #255 "Convert old-spec NB doesn't preserve "report" mode setting"
Open *test_layout_basic_report.ipynb* from **dashboards_server**. Layout selector is `grid`, even though metadata says to use `report`.

cc @dalogsdon

[2016-06-02 19:30] jhpedemonte opened #256 "Hidden cells added to dashboard during converstion from old spec"
1. Open *lorenz.ipynb* from **dashboards_server**.
2. Switch to grid layout.  Notice that there are 3 cells off to the right which should be hidden.

[2016-06-02 19:30] jhpedemonte commented on #256
cc @dalogsdon

[2016-06-02 21:03] dalogsdon commented on #255
The conversion doesn't happen until after the dashboard layout view is selected and the dashboard metadata is initialized. We could try to do a check for existing metadata and perform the conversion when the dashboard extension is first loaded.

[2016-06-02 21:10] parente commented on #255
Ah, right. Hm. Not sure I want the dashboard JS encroaching into notebook mode. Maybe this is a "deal with it" since it only happens during the upconvert.

[2016-06-02 21:15] dalogsdon commented on #255
Well we are already initializing the toolbar buttons on extension load, so we can decide if automatically converting existing dashboard metadata is also considered encroaching on notebook mode.

[2016-06-02 21:25] dalogsdon commented on #256
Ah, it looks like empty cells that are auto-hidden didn't have `hidden: true` set.

[2016-06-02 21:39] dalogsdon commented on #256
This could have been a bug with how the cell was hidden, but should no longer be an issue now that hidden property is always present. For old notebooks with this issue we should be able to detect a cell in this state if the layout is grid and the cell has an empty `urth.dashboard` object.

[2016-06-02 22:26] dalogsdon commented on #255
It's a simple change to resolve this so I opened a PR #258 to demonstrate. We can decide whether to take it or leave it.

[2016-06-03 00:36] #256 closed

[2016-06-03 20:42] jhpedemonte opened #259 "Update example & test notebooks to latest metadata spec"

[2016-06-08 21:48] willzfarmer opened #260 "PDF Output?"
Hey, this is awesome! Do you have any plans to make these dashboards exportable as PDFs or just raw HTML? Being able to format cells like this is much nicer for some stuff than the normal notebook...

[2016-06-08 22:14] dalogsdon commented on #260
We have noticed the potential that the dashboard layout has but to my knowledge haven't discussed static outputs such as PDF or raw HTML. You say it would be nicer for some stuff; do you have a specific use case in mind?

[2016-06-08 22:19] willzfarmer commented on #260
Yeah, so for instance, if I wanted to arrange different cells to be side by side, currently the best-ish way to do it is to either save the output images and re-render with markdown/display use the display module, or use matplotlib to show images inline. This doesn't work as well for something like tables however.

Other examples include being able to (hypothetically) create a static website using

[2016-06-08 23:15] parente commented on #260
If the metadata spec for the layouts becomes something standard across the various jupyter tools, then nb convert could perhaps respect the layout when converting to various formats.

The spec is currently on the wiki here. (Sorry, on mobile, else I'd link)

[2016-06-08 23:30] jtyberg commented on #260
https://github.com/jupyter-incubator/dashboards/wiki/Dashboard-Metadata-and-Rendering

[2016-06-09 01:12] parente commented on #259
Include the index.ipynb notebook in this. It doesn't even mention report mode and its references to menu items are outdated.

[2016-06-09 16:59] willzfarmer commented on #260
Also, another good reason to support PDF output is sometimes it's nice to be able to reorganize cells dynamically and not have to have all the code inline. I generate a lot of reports using the notebook and I've had to use different tools because there's not currently a way to suppress code input cells. This dashboard view supports that however (notably the report view).

[2016-06-13 14:03] parente commented on #249
Spoke with @lbustelo. https://github.com/jupyter-incubator/declarativewidgets/pull/389 is going to deprecate the urth naming. Examples of the new naming are in that PR.

Let's get this done in a PR on this with the new package name which will go into decl widgets 0.6.0.

[2016-06-13 18:51] #259 closed

[2016-06-14 22:06] jhpedemonte opened #263 "Broken example notebooks w/ decl widgets 0.6.x"
The following notebooks aren't working correctly (may need to be updated due to underlying Polymer changes?):

* [x] Meetup Outreach demo
    * I think it has trouble creating the Polymer elements which are defined in separate files.
* [x] Sentiment Boilerplate demo
    * `Cannot read property 'getTime' of undefined`
* [x] ~~community_sentiment_demo~~ *(user error)*
    * `Error while invoking fun

[2016-06-15 01:52] parente commented on #263
Is this before or after the urth init change?

[2016-06-15 02:26] parente commented on #263
1. Meetup Outreach Demo
  * Works with ipywidgets==4.1.1, jupyter-declarativewidgets==0.5.1, notebook==4.1.0, jupyter-dashboards==0.5.2
  *  Works with ipywidgets==5.1.5, jupyter-declarativewidgets==0.5.3, notebook==4.2.0, jupyter-dashboards==master
2. Sentiment Boilerplate demo
  * Worked first time with ipywidgets==4.1.1, jupyter-declarativewidgets==0.5.1, notebook==4.1.0, dashboards=0.5.2
  * W

[2016-06-15 15:02] jhpedemonte commented on #263
Yes, fail when running with declwidget 0.6.0. Need to talk to the declwidgets guys about some odd issues i'm seeing.

[2016-06-15 15:27] jhpedemonte commented on #263
Added **community_sentiment_demo** as well.

[2016-06-16 15:21] #249 closed

[2016-06-16 19:50] #263 closed

[2016-07-04 20:40] parente opened #266 "Turn README into initial Read The Docs content"
From @willingc on PR #265:

[2016-07-05 10:10] rs2 opened #267 "Let's think about publishing stateless web apps"
A great concept, but how do the dashboards work in a multiuser environment? Even after publishing the interactive widgets and the kernel preserve states that are shared across sessions, i.e. what one user does affects what the other user sees. Can we think of a workflow where a notebook is deployed as a true web app, i.e. stateless by default, possibly at the expense of spinning up a new kernel fo

[2016-07-05 10:33] parente commented on #267
When deployed with the dashboard_server project also in jupyter-incubator, each user visit to a notebook-dashboard spawns its own independent kernel to separate state. This isn't possible in the Notebook server today  because it is fundamentally a single user server.

[2016-07-12 19:21] osdf opened #268 "urth-core-function no longer works with installed dashboard extension"
Hi,

the following minimal working example works with declarativewidgets installed. As soon as the dashboard extension is installed, the ```html``` part loads indefinitely (a blue bar running below the cell). What am I doing wrong?

[code]

[code]

Thank you!!!

[2016-07-12 22:22] dalogsdon commented on #268
What do you mean by "working"?
Is this all your code, or do you have `select`, `abc`, `lmn`, and `xyz` defined somewhere?

When I run your code as is, I get no output. When I add an `auto` attribute and remove the square brackets to make the arguments constant strings I see the function print. This is working for me without and with the dashboard extension installed.

Here is my modification of yo

[2016-07-13 07:53] osdf commented on #268
By 'working' I mean that there is no 'indicator' (the blue bar, see screenshot below) that the ```html``` part somehow stalls. There are supposed to be more ```html``` cells coming later, but these also show the blue bar, stalling.

This is what I see, using your modification (actually, simplified ```load_selection``` to one argument). The idea is that later ```html``` blocks have ```{{select}}```

[2016-07-13 07:55] osdf commented on #268
[code]

[2016-07-13 10:33] parente commented on #268
@osdf thanks for the report. You've definitely got something unique happening in your environment that we haven't seen before.

The dashboards extension is pure JavaScript so I expect the bad interaction to be somewhere on the frontend in your browser. What browser are you using? If you're familiar with the developer tools for your browser, can you share what appears in the console view when you c

[2016-07-13 11:01] osdf commented on #268
@parente Thank you for your reply. Should have though about the browser myself ...
[code]
I don't observe the above on Chrome (all ```html``` blocks load, but they are not doing anything, I'll investigate this path, too). How would I provide the console view, it is quite a lot of stuff there?

[2016-07-13 11:04] osdf commented on #268
Restarting the kernel never changed this blue bar of stalling, the console view probably explains why:

[code]

[2016-07-13 12:10] parente commented on #268
Thanks for the browser trace..

Is there anything in the log before that? I've seen https://github.com/jupyter/notebook/issues/1602 , a timing issue, prevent loading of some JS assets on startup. It could be the culprit. A copy/paste attachment of the full browser console when you do the clear/restart/refresh/run-all would help us pinpoint whether this is the case or not. Or even a screenshot of t

[2016-07-13 13:45] osdf commented on #268
Without the dashboard *un*installed, I see the same behaviour in Firefox as your Firefox screencast.

This is the console output:
[code]

With the dashboard installed this is the console:
[code]
Those Type Errors have more information underneath, about 20 or so lines each, do you need that, too?

[2016-07-13 14:54] dalogsdon commented on #268
Out of curiosity, could you try updating ipywidgets and enabling it's notebook extension manually? I had to do this as part of my setup when looking at this yesterday.

[code]

[2016-07-13 16:06] osdf commented on #268
@dalogsdon That did it!! That's so super awesome, really! Thank you some much, guys. With this, it also works with Chrome.

[2016-07-13 16:06] #268 closed

[2016-07-13 16:14] parente commented on #268
Awesome. So I wonder if we have a weird regression with the older version of ipywidgets. I'll give it a look.

[2016-07-13 16:52] parente commented on #268
I get a failure thats look similar, but perhaps not exactly the same, with ipywidgets 4.x and *without* installing the dashboard extension: https://github.com/jupyter-incubator/declarativewidgets/issues/442.

[2016-07-17 02:23] napjon opened #270 "Update data for Dashboards?"
Hi guys, how do we update data for Dashboards? We may have to rerun the entire notebook using something like cron. Is this notebook problem? See [#1034](https://github.com/jupyter/notebook/issues/1034)

[2016-07-17 12:52] parente commented on #270
It depends. Can you explain a bit about where you plan to run and view the dashboard? Are you only using the dashboard layout extension within Jupyter Notebook and having each user open the notebook, run it, and interact with the dashboard view in his/her own notebook server? Are you using the Jupyter dashboard server and deploying your notebook there for multiple users to access independently?

[2016-07-18 04:01] napjon commented on #270
The second one. Users are public audience that don't even know they're using notebook. They just interact with dashboard.

[2016-07-18 12:13] parente commented on #270
If you want the content in the dashboard to refresh on its own, there's a few options:

1. Use ipywidgets, declarative widgets, etc. that can update in response to data changes in the kernel. The streaming meetups demo in this repo is an example.
2. Use widgets like in (1), but trigger their update on a timer. You could set the timer in JS or you could set it in the kernel (e.g., using tornado.iol

[2016-07-19 12:03] #266 closed

[2016-07-19 17:50] parente commented on #267
@rs2 Just wanted to follow up on your comment. Have you had a chance to look at https://github.com/jupyter/dashboards_server ? Does the workflow here http://jupyter-dashboards-layout.readthedocs.io/en/latest/use-cases.html fit the use case you had in mind?

[2016-07-25 20:22] gnestor opened #272 "Uninstall earlier version of dashboards"
I have an earlier version of jupyter-incubator/dashboards installed and I haven't been able to fully uninstall it. When I fire up the notebook, I get the following error:

[code]

[2016-07-25 20:26] parente commented on #272
What version of notebook are you running?

[2016-07-25 20:35] gnestor commented on #272
jupyter 4.1.0
notebook 5.0.0.dev

[2016-07-25 20:42] parente commented on #272
With notebook 5.0.0, I think you can use the 4.2 instructions in the README to remove the extension. But probably only if you haven't installed the newer version of the extension on top of it.  If you have, you can downgrade and run the quick-remove steps. Or, you can use `jupyter serverextension list`, find out which config file the old entry is in, and manually remove it.

Neither is ideal. We s

[2016-07-27 13:01] parente commented on #260
/cc @minrk about nbconvert

[2016-07-28 03:20] gnestor commented on #272
Thanks @parente. I tried your suggestions but "urth.dashboards" was not being returned by `jupyter serverextension list`. I removed the following offending line and this cleared up the error:

`/Users/grant/.jupyter/jupyter_notebook_config.py:2:c.NotebookApp.server_extensions.append('urth.dashboard.nbexts')`

So, the uninstall script is properly removing dashboards from the `jupyter_notebook_confi

[2016-07-28 04:06] parente commented on #272
Ahhh. In version 0.4 of the extension, we switched to using a better mechanism of installing and managing the extension assets in prep for working against the official extension API added in Notebook 4.2 (https://github.com/jupyter-incubator/dashboards/blob/master/CHANGELOG.md#040-2016-01-21). In fact, before 0.4, there was *no* way to uninstall the extension other than the manual steps you just f

[2016-07-28 15:28] gnestor commented on #272
That makes sense. I just submitted a PR that adds uninstall instructions for users of version 0.4...

[2016-07-28 18:37] #272 closed

[2016-08-11 21:09] fobyy commented on #270
I just begin to have a look of jupyter and dashboards and get some problems with handling data. Each times i read a csv with pandas in my notebook, when i deploy it on my dashboards, i have an error. (By the way i don't know where to check the logs for the dashboards)

Then, what is the best way to get data in the dashboard?

[2016-08-12 01:20] parente commented on #270
When deploying a dashboard to the dash server, the kernel gateway must have access to your data in the same manner as your notebook server. If the data is on local disk on the notebook server, then you have to ensure the kernel gateway also has access to that data on disk (e.g., through a shared volume, through a manual copy). If the data is in a database or pulled through some other network API,

[2016-08-15 20:14] fobyy commented on #270
thx for the answer. I'll check how i can proceed.

[2016-08-19 12:19] rs2 opened #275 "[Q] How to make custom widgets appear via the dashboards server?"
The following snippet works fine in the notebook, but does not render once the notebook is published to the dashboards server:

[code]

[2016-08-19 12:44] parente commented on #275
Many widget libraries are coded specifically to work in the notebook environment. The dashboard server tries to replicate the notebook environment as much as possible using shims for certain objects that libraries (e.g., matplotlib, plotly, bokeh) expect to appear in the JS namespace. In cases where the widget library wants to serve its own JS as an extension, deeper support is required in the das

[2016-08-19 13:48] rs2 commented on #275
I'm more familiar with what `qgrid` does, much less so what `kernel-gateway/dashboards` expect. Which component do I need to debug to figure out what's missing, where do I start?

[2016-08-19 14:59] jhpedemonte commented on #275
The main browser-side code for dashboards_server can be found in [dashboard.js](https://github.com/jupyter-incubator/dashboards_server/blob/master/client/js/dashboard.js) and [widget-manager.js](https://github.com/jupyter-incubator/dashboards_server/blob/master/client/js/widget-manager.js).

In particular, take a look at [these lines](https://github.com/jupyter-incubator/dashboards_server/blob/532

[2016-08-22 17:32] rs2 opened #276 "What controls the presence of Notebook/Dashboard layout/Dashboar Preview toolbar buttons?"
I.e. what's the minimum set of steps one needs to take - e.g. `pip install jupyter_dashboards`, `jupyter dashboards quick-setup --sys-prefix` or anything else?

[2016-08-22 19:36] nitind commented on #276
That _should_ be enough once you have Jupyter working otherwise.

[2016-08-23 12:01] rs2 opened #277 "Is there a way to make dashboards/dashboards_server work with ipywidgets==4.1.1?"
I know they work with `ipywidgets==5.2.2` and `ipywidgets==5.1.5`. `qgrid` works on `ipywidgets==4.1.1`, hence the question.

[2016-08-23 15:10] jhpedemonte commented on #277
I believe it should work. You just need to ensure that the version of ipywidgets that is installed along with the kernel/kernel-gateway is the correct version. If you are testing with [dashboards_setup/docker_deploy](https://github.com/jupyter-incubator/dashboards_setup/tree/master/docker_deploy) recipe, you can do the following to run with v4.1.1:

1. Edit `docker-compose.yml` to set the desired

[2016-08-23 15:29] rs2 commented on #277
Let me test that...

[2016-08-30 16:24] parente commented on #277
@rs2 any luck testing the older ipywidgets?

[2016-09-01 23:28] rs2 commented on #277
Confirmed, `ipywidgets==4.1.1` do `not` work with `dashboards_server`.
[code]

Also `Dockerfile.notebook` does not pin down the `ipywidgets` version, so during the design phase you see the widgets, but once the notebook is published to the server you don't see them anymore.

Once way to address this is to  pin `ipywidgets` version in the Dockerfile, but I think a better way is to use a remote kern

[2016-09-02 00:22] parente commented on #277
To which repository?

[2016-09-28 14:58] rs2 opened #278 "ipywidgets Dropdown appears as drop-up when published to dashboards"
The `Dropdown` ipywidget is actually displayed as "drop-up" when published as a dashboard...

I'm guessing an `ipywidgets` component needs to be patched. Which one?

[2016-09-28 15:23] parente commented on #278
I think ipywidgets is still using bootstrap components and bootstrap makes some dynamic decisions about whether to pop-up or down based on screen real estate. Can you include a screenshot with the popup open in dashboard view?

[2016-09-28 22:01] jhpedemonte commented on #278
Noticed this too. For some reason, when clicking on the dropdown, the class `dropup` gets added, making the menu appear above the widget.

[2016-09-28 22:19] jhpedemonte commented on #278
Should be fixed the PR above (in the `dashboards_server` project).

[2016-09-29 16:43] #278 closed

[2016-10-19 17:40] rskabelund opened #279 "Startup Notebook in Dashboard view?"
Hello,
Is there a way to make the notebook startup in dashboard view?  Or perhaps, default to dashboard view during a restart?

Right now, a user needs to restart and run all, the switch to dashboard view to see the outputs, widgets, input fields etc...  It would be nice if the user could just open a notebook and have that view readlily there for them without the initial extra clicks...

Warm Rega

[2016-10-19 19:45] jhpedemonte commented on #279
The 3rd dashboard icon in the toolbar is for the **Dashboard Preview**. This shows the dashboard with minimal UI. Notice that this also changes the URL -- loading to that URL directly will automatically switch to this preview view. However, the user will still have to select **Cell > Run All**, at least.

You could also do something [along these lines](http://stackoverflow.com/questions/31984196/i

[2016-10-19 23:07] parente commented on #279
A bit more background: Running a notebook automatically on open breaks the security model which prevents malicious notebook code from running without a chance of user review first.

[2016-10-19 23:13] rskabelund commented on #279
Thank you for the information and the security model reminder.  I am now considering a custom widget button that would somehow execute  restart & run all and then switch to dashboard preview.  Does this seem feasible?  Or even perhaps customize the dashboard toolbar to include such a button?  At that point, it is just a single click for the user.

[2016-11-12 15:21] parente commented on #279
Sorry for the delayed response.

Adding a button, menu item, or command palette option to "Run All as Dashboard" or some such should be feasible. Making it a drop down option of the Dashboard Preview button might be another way to do it without a wholly new button on the toolbar.

If you take a pass at implementing it as an addition to to this extension, please feel free to submit a PR. We can ite

[2016-11-12 15:29] parente commented on #277
Returning to this after a long hiatus.

The ipywidgets version is pinned in the jupyter/pyspark-notebook base image that the Dockerfile inherits. So I think we're set there.

As for dashboard server not working with ipywidgets 4.1.1, we need to start being more explicit in what we do and do not support in the dashboard server to set expectations. I'll open a PR against the README there soon for di

[2016-11-12 15:29] #277 closed

[2016-11-12 15:41] parente commented on #276
I think @nitind answered the question. The README / docs also have the minimal steps. Feel free to reopen if there are more issues.

[2016-11-12 15:41] #276 closed

[2016-11-12 15:42] parente commented on #267
This use case is addressed in part by the dashboard server project. It's limited and imperfect, but definitely implements the model of one-kernel-per-visitor in the description. Further discussion can continue in PRs against that project.

[2016-11-12 15:42] #267 closed

[2016-11-12 15:48] parente commented on #270
@fobyy I'm going to close this issue as resolved. Feel free to open new ones if you're still having problems.

[2016-11-12 15:48] #270 closed

[2016-11-12 15:52] parente commented on #275
Documenting what @jhpedemonte will be part of the work in the issue linked above just a few minutes ago. We can continue the conversation of what info we need to make available to devs over there.

@rs2 if you did / do get qgrid support working, we can take PRs against the dashboards server repo.

[2016-11-12 15:52] #275 closed

[2016-12-18 07:38] codingneo opened #280 "Dashboard layout is not changed when deploying to local or jupyter dashboard server"
The layout change function is working in the jupyter notebook. However, after deploying as local dashboard or jupyter dashboard server, the layout changes to default one.

[2016-12-18 20:28] parente commented on #280
Hi @codingneo. Are you saying that all cells in your notebook appear and whatever layout you've put them in is not retained when you deploy your notebook? If so, can you provide more information about what version of the notebook server you are running and steps to reproduce? If you can provide a sample notebook that evidences the problem, that would really help as well.

[2016-12-18 23:31] codingneo commented on #280
@parente, I ! basically tried to set up the whole end-to-end workflow of Jupiter dashboard solution on my macbook (Sierra). I am facing a few issues and looking for the infirmation to see how to resolve it.  I try to use pip3 to install all related packages (all jupyter related packages, dashboards, dashboards-bundler and dashboards-server. I use the hello_world notebook used in dashboard setup re

[2016-12-22 17:34] aiguofer opened #281 "Not working on Jupyter 4.3"
Haven't had time to dig much into it, but it looks like call to `/api/kernels` is getting a 403, possibly due to the security changes that they made. Btw, my notebook is running with
[code]

here's what I see in console:
[code]

[2016-12-22 21:14] parente commented on #281
Is this just using the dashboard layout extension? Or deploying it as a local dashboard?

[2016-12-22 21:42] parente commented on #281
I conda installed notebook 4.3.1 and jupyter_dashboards 0.6.1. I fired up `jupyter notebook` without any options and was able to drag/drop my cells into a layout without any problems.

I went back and ran with `jupyter notebook --NotebookApp.token='' --NotebookApp.password=''` and everything worked fine too.

[2016-12-22 21:43] aiguofer commented on #281
Hey, sorry this is actually with the dashboard server, I accidentally created it against the wrong project.

[2016-12-22 21:43] #281 closed

[2016-12-22 21:45] aiguofer commented on #281
created over there https://github.com/jupyter-incubator/dashboards_server/issues/311

[2016-12-22 22:09] parente commented on #281
Not a problem. Thanks for reporting it regardless!

[2016-12-28 01:51] parente commented on #280
Sorry for the late response.

The deploy as local dashboard option is deprecated in the dashboards_bundlers README. It will stop working in some near-future version of ipywidgets and notebook. (And perhaps it already has.)

This most likely means that you do not have a kernel gateway server running or your dashboard server is not configured properly to use it.

https://github.com/jupyter-incubator

[2016-12-28 02:00] codingneo commented on #280
@parente, thanks for the information. I now change to deploy both notebook seever, dashboard server and kernel gateway by using the docker-deploy. After I change some of the components to a specific version (Jupiter cms, declarative widget etc), it works. Now I am facing a new issue. Some of my dashboards have the associated data. I have used the association function provided by dashboard bundler

[2016-12-28 02:04] parente commented on #280
The association feature is for frontend web assets (HTML, CSS, JS). There is no automated way to distribute data from your notebook server to the kernel gateway. Either the data has to reside in a  location accessible by both components (e.g., a database, a shared filesystem) or you have to duplicate the data from one to the other.

[2016-12-28 02:26] codingneo commented on #280
How do I manually duplicate data from notebook server to kernel gateway?

[2016-12-28 02:41] parente commented on #280
Since you're running the docker setup, you could add COPY directives to the dockerfiles for both the notebook server and kernel gateway to build the data right into the docker image if it's immutable. If you want to copy it in at runtime, have a look at [docker cp](https://docs.docker.com/engine/reference/commandline/cp/) or [docker exec](https://docs.docker.com/engine/reference/commandline/exec/)

[2017-01-05 18:23] rs2 commented on #278
@parente @jhpedemonte What actually makes `dropdowns` behave as such and not `dropups` is having the following lines removed from `node_modules/jupyter-dashboards-server/public/css/style.css`:
[code]

What change is required to do so?

[2017-01-05 20:12] jhpedemonte commented on #278
This was an issue in Dashboards Server that was fixed by jupyter-incubator/dashboards_server#295. But I don't think we've cut a new release with this fix yet. If you are able to, run Dashboards Server from the latest code.

[2017-01-09 09:58] arita37 opened #283 "Pandas dataframe in Dashboard"
It seems that Pandas dataframe are not well rendered in Jupyter Dashboard.

Is there a way to show well defined table in Jupyter Dashboard ?

Thanks very much for your effort on this package.

[2017-01-09 13:47] arita37 opened #284 "New Feature: Jupyter Dashboard Grid"
First, Jupyter Dashboard is an excellent initiative and excellent results.
Share my experience on Grid Layout for Dashboard (QlikView, Tableau, ... other BI I used before).

1) Grid Layout is a complicated issue, many layouts, many combinaisons,..., all leading to re-factoring in the code, insertion of hacks to handle all the special cases.....

2) If one take experience from Web Design of website

[2017-01-14 18:09] rs2 opened #285 "Replace references to jupyter-incubator repo with jupyter"
The `dashboards` repo has been migrated from `jupyter-incubator` organization to `jupyter`. Make appropriate changes in documentation and strings.

[2017-01-22 20:18] parente commented on #285
Thanks again for the PR.

[2017-01-22 20:18] #285 closed

[2017-01-22 20:24] parente commented on #284
@arita37 Thanks for your comments. I don't think the extension in this repo will change to solely support pre-defined templates. That's not to say, however, that future dashboard efforts around Jupyter (e.g., in Jupyter Lab) shouldn't consider them. http://rmarkdown.rstudio.com/flexdashboard/ is one example of an interesting project that follows the approach you suggest.

[2017-01-22 20:26] parente commented on #283
The dashboard preview and layout modes in this extension do not clip at the grid boundaries at the moment. Overflowing content is clipped, however, in the dashboard server project. We should probably make this consistent.

[2017-01-26 09:02] galenwilkerson opened #287 "error on sudo npm install -g jupyter-dashboards-server"
hi, I've had this issue on two different linux machines, when installing the server
thanks for any help.

Error log attached:
[npm-debug.log.TXT](https://github.com/jupyter/dashboards/files/731882/npm-debug.log.TXT)

Information and console:

[2017-01-26 11:28] galenwilkerson commented on #287
This seemed to work:

https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-02-14 13:26] rfriedr1 opened #288 "visual theming"
Question: is it possible to theme or visually enhance the dashboards.
I actually like the visual style in the dashboard layout where each cell is visually separated.
This disappears when in "dashboard preview" and all the cells merge visually, having the
same cell-background color as the background color of the whole page.

Many thanks to all the dashboard developers!

PS: I'm using dashboards in

[2017-02-14 18:14] parente commented on #288
There's no explicit theming support, but I suspect you could write some CSS in a `%%html` cell and have it style the preview layout however you like. You'll have to poke around with what CSS class names are available to style when it's in preview mode using the inspector. I'll try to craft an example when I get some time.

[2017-02-16 04:32] parente commented on #287
Thanks for reporting. If you you have some spare time, would you mind adding this info to the wiki under github.com/jupyter-incubator/dashboards_server? Thanks!

[2017-02-16 04:32] #287 closed

[2017-02-16 04:35] parente commented on #280
@codingneo I'm going to close this issue as there haven't been any updates in over a month. For better or worse, I think it captures the conversation about making data accessible both to a notebook server and dashboard server.